openapi: 3.0.1
info:
  description: TiDB Cloud Serverless Private Link Connection Open API
  title: TiDB Cloud Serverless Private Link Connection Open API
  version: v1beta1
servers:
- url: https://serverless.tidbapi.com/
tags:
- name: PrivateLinkConnectionService
paths:
  /v1beta1/clusters/{clusterId}/privateLinkConnections/{privateLinkConnectionId}:
    delete:
      operationId: PrivateLinkConnectionService_DeletePrivateLinkConnection
      parameters:
      - description: The cluster ID.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: The private link connection ID.
        in: path
        name: privateLinkConnectionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkConnection'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete a private link connection.
      tags:
      - PrivateLinkConnectionService
    get:
      operationId: PrivateLinkConnectionService_GetPrivateLinkConnection
      parameters:
      - description: The cluster ID.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: The private link connection ID.
        in: path
        name: privateLinkConnectionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkConnection'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get a private link connection.
      tags:
      - PrivateLinkConnectionService
  /v1beta1/clusters/{clusterId}/privateLinkConnections:
    get:
      operationId: PrivateLinkConnectionService_ListPrivateLinkConnections
      parameters:
      - description: The cluster ID.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: The maximum number to return.
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: The page token for pagination.
        in: query
        name: pageToken
        schema:
          type: string
      - description: |2-
           - CREATING: The private link connection is being created.
           - ACTIVE: The private link connection is active.
           - FAILED: The private link connection is in failed state.
           - PENDING_ACCEPTANCE: The private link connection is pending acceptance. only for AWS endpoint service and Alicloud endpoint service.
           - DELETING: The private link connection is being deleted.
        in: query
        name: state
        schema:
          $ref: '#/components/schemas/PrivateLinkConnectionService_ListPrivateLinkConnections_state_parameter'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPrivateLinkConnectionsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List private link connections.
      tags:
      - PrivateLinkConnectionService
    post:
      operationId: PrivateLinkConnectionService_CreatePrivateLinkConnection
      parameters:
      - description: The cluster ID.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkConnectionService.CreatePrivateLinkConnectionBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkConnection'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create a private link connection.
      tags:
      - PrivateLinkConnectionService
      x-codegen-request-body-name: body
  /v1beta1/clusters/{clusterId}/privateLinkConnections:getAvailabilityZones:
    get:
      operationId: PrivateLinkConnectionService_GetAvailabilityZones
      parameters:
      - description: The cluster ID.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetAvailabilityZonesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get account and availability zones information for private link connection.
      tags:
      - PrivateLinkConnectionService
  /v1beta1/clusters/{clusterId}/privateLinkConnections/{privateLinkConnectionId}:attachDomains:
    post:
      operationId: PrivateLinkConnectionService_AttachDomains
      parameters:
      - description: The cluster ID.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: The private link connection ID.
        in: path
        name: privateLinkConnectionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkConnectionService.AttachDomainsBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachDomain'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Attach domains for private link connection.
      tags:
      - PrivateLinkConnectionService
      x-codegen-request-body-name: body
  /v1beta1/clusters/{clusterId}/privateLinkConnections/{privateLinkConnectionId}:detachDomains:
    post:
      operationId: PrivateLinkConnectionService_DetachDomains
      parameters:
      - description: The cluster ID.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: The private link connection ID.
        in: path
        name: privateLinkConnectionId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateLinkConnectionService.DetachDomainsBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AttachDomain'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Detach domains for private link connection.
      tags:
      - PrivateLinkConnectionService
      x-codegen-request-body-name: body
components:
  schemas:
    AlicloudEndpointService:
      example:
        availabilityZoneIds:
        - availabilityZoneIds
        - availabilityZoneIds
        endpointId: endpointId
        name: name
      properties:
        name:
          description: The endpoint service name.
          type: string
        endpointId:
          description: The endpoint ID.
          readOnly: true
          type: string
        availabilityZoneIds:
          description: The availability zones of the endpoint.
          items:
            type: string
          readOnly: true
          type: array
      required:
      - name
      type: object
    Any:
      additionalProperties:
        type: object
      example:
        '@type': '@type'
      properties:
        '@type':
          type: string
      type: object
    AttachDomain:
      example:
        uniqueName: uniqueName
        createdBy: createdBy
        createTime: 2000-01-23T04:56:07.000+00:00
        domains:
        - name: name
          state: state
          message: message
        - name: name
          state: state
          message: message
        attachDomainId: attachDomainId
        privateLinkConnectionId: privateLinkConnectionId
        clusterId: clusterId
        type: "{}"
      properties:
        attachDomainId:
          description: The attach domain ID.
          readOnly: true
          type: string
        clusterId:
          description: The cluster ID.
          readOnly: true
          type: string
        privateLinkConnectionId:
          description: The private link connection ID.
          readOnly: true
          type: string
        type:
          allOf:
          - $ref: '#/components/schemas/PrivateLinkConnectionDomainType.Enum'
          description: The domain type to attach.
          type: object
        uniqueName:
          description: "The unique name of the domain to attach, it can be empty only\
            \ when type is TIDBCLOUD_MANAGED and validate_only is true."
          type: string
        domains:
          description: The domains attached.
          items:
            $ref: '#/components/schemas/Domain'
          readOnly: true
          type: array
        createdBy:
          description: The user who attach the domain.
          readOnly: true
          type: string
        createTime:
          format: date-time
          readOnly: true
          title: create time
          type: string
      required:
      - type
      type: object
    AwsEndpointService:
      example:
        availabilityZoneIds:
        - availabilityZoneIds
        - availabilityZoneIds
        endpointId: endpointId
        name: name
        region: region
      properties:
        name:
          description: The endpoint service name.
          type: string
        region:
          title: "The region of endpoint service name, default to cluster's region"
          type: string
        endpointId:
          description: The endpoint ID.
          readOnly: true
          type: string
        availabilityZoneIds:
          description: The availability zones of the endpoint.
          items:
            type: string
          readOnly: true
          type: array
      required:
      - name
      type: object
    Domain:
      example:
        name: name
        state: state
        message: message
      properties:
        name:
          description: The domain name.
          readOnly: true
          type: string
        state:
          readOnly: true
          title: The domain state
          type: string
        message:
          description: Fail message if the domain is in failed state.
          readOnly: true
          type: string
      type: object
    GetAvailabilityZonesResponse:
      example:
        azIds:
        - azIds
        - azIds
        accountId: accountId
      properties:
        accountId:
          description: The account ID.
          type: string
        azIds:
          description: Availability zone ids.
          items:
            type: string
          type: array
      type: object
    ListPrivateLinkConnectionsResponse:
      example:
        totalSize: 0
        nextPageToken: nextPageToken
        privateLinkConnections:
        - awsEndpointService:
            availabilityZoneIds:
            - availabilityZoneIds
            - availabilityZoneIds
            endpointId: endpointId
            name: name
            region: region
          createdBy: createdBy
          createTime: 2000-01-23T04:56:07.000+00:00
          displayName: displayName
          attachedDomains:
          - uniqueName: uniqueName
            createdBy: createdBy
            createTime: 2000-01-23T04:56:07.000+00:00
            domains:
            - name: name
              state: state
              message: message
            - name: name
              state: state
              message: message
            attachDomainId: attachDomainId
            privateLinkConnectionId: privateLinkConnectionId
            clusterId: clusterId
            type: "{}"
          - uniqueName: uniqueName
            createdBy: createdBy
            createTime: 2000-01-23T04:56:07.000+00:00
            domains:
            - name: name
              state: state
              message: message
            - name: name
              state: state
              message: message
            attachDomainId: attachDomainId
            privateLinkConnectionId: privateLinkConnectionId
            clusterId: clusterId
            type: "{}"
          privateLinkConnectionId: privateLinkConnectionId
          updateTime: 2000-01-23T04:56:07.000+00:00
          clusterId: clusterId
          state: "{}"
          message: message
          type: "{}"
          alicloudEndpointService:
            availabilityZoneIds:
            - availabilityZoneIds
            - availabilityZoneIds
            endpointId: endpointId
            name: name
        - awsEndpointService:
            availabilityZoneIds:
            - availabilityZoneIds
            - availabilityZoneIds
            endpointId: endpointId
            name: name
            region: region
          createdBy: createdBy
          createTime: 2000-01-23T04:56:07.000+00:00
          displayName: displayName
          attachedDomains:
          - uniqueName: uniqueName
            createdBy: createdBy
            createTime: 2000-01-23T04:56:07.000+00:00
            domains:
            - name: name
              state: state
              message: message
            - name: name
              state: state
              message: message
            attachDomainId: attachDomainId
            privateLinkConnectionId: privateLinkConnectionId
            clusterId: clusterId
            type: "{}"
          - uniqueName: uniqueName
            createdBy: createdBy
            createTime: 2000-01-23T04:56:07.000+00:00
            domains:
            - name: name
              state: state
              message: message
            - name: name
              state: state
              message: message
            attachDomainId: attachDomainId
            privateLinkConnectionId: privateLinkConnectionId
            clusterId: clusterId
            type: "{}"
          privateLinkConnectionId: privateLinkConnectionId
          updateTime: 2000-01-23T04:56:07.000+00:00
          clusterId: clusterId
          state: "{}"
          message: message
          type: "{}"
          alicloudEndpointService:
            availabilityZoneIds:
            - availabilityZoneIds
            - availabilityZoneIds
            endpointId: endpointId
            name: name
      properties:
        privateLinkConnections:
          items:
            $ref: '#/components/schemas/PrivateLinkConnection'
          type: array
        nextPageToken:
          type: string
        totalSize:
          format: int64
          type: integer
      type: object
    PrivateLinkConnection:
      example:
        awsEndpointService:
          availabilityZoneIds:
          - availabilityZoneIds
          - availabilityZoneIds
          endpointId: endpointId
          name: name
          region: region
        createdBy: createdBy
        createTime: 2000-01-23T04:56:07.000+00:00
        displayName: displayName
        attachedDomains:
        - uniqueName: uniqueName
          createdBy: createdBy
          createTime: 2000-01-23T04:56:07.000+00:00
          domains:
          - name: name
            state: state
            message: message
          - name: name
            state: state
            message: message
          attachDomainId: attachDomainId
          privateLinkConnectionId: privateLinkConnectionId
          clusterId: clusterId
          type: "{}"
        - uniqueName: uniqueName
          createdBy: createdBy
          createTime: 2000-01-23T04:56:07.000+00:00
          domains:
          - name: name
            state: state
            message: message
          - name: name
            state: state
            message: message
          attachDomainId: attachDomainId
          privateLinkConnectionId: privateLinkConnectionId
          clusterId: clusterId
          type: "{}"
        privateLinkConnectionId: privateLinkConnectionId
        updateTime: 2000-01-23T04:56:07.000+00:00
        clusterId: clusterId
        state: "{}"
        message: message
        type: "{}"
        alicloudEndpointService:
          availabilityZoneIds:
          - availabilityZoneIds
          - availabilityZoneIds
          endpointId: endpointId
          name: name
      properties:
        privateLinkConnectionId:
          readOnly: true
          title: "The private link connection ID, format: plc-xxx"
          type: string
        clusterId:
          description: The ID of the cluster.
          type: string
        displayName:
          description: Display name for the private link connection.
          type: string
        state:
          allOf:
          - $ref: '#/components/schemas/PrivateLinkConnectionState.Enum'
          description: The state of the private link connection.
          type: object
        message:
          description: The message describing fail reason.
          readOnly: true
          type: string
        createdBy:
          description: The user who created the private link connection.
          readOnly: true
          type: string
        createTime:
          description: Timestamp when the private link connection was created.
          format: date-time
          readOnly: true
          type: string
        updateTime:
          description: Timestamp when the private link connection was updated.
          format: date-time
          nullable: true
          readOnly: true
          type: string
        type:
          allOf:
          - $ref: '#/components/schemas/PrivateLinkConnectionType.Enum'
          title: The type of the private link connection
          type: object
        attachedDomains:
          items:
            $ref: '#/components/schemas/AttachDomain'
          readOnly: true
          title: "The attached domains for the private link connection, only display\
            \ in Get API"
          type: array
        awsEndpointService:
          $ref: '#/components/schemas/AwsEndpointService'
        alicloudEndpointService:
          $ref: '#/components/schemas/AlicloudEndpointService'
      required:
      - clusterId
      - displayName
      - type
      type: object
    PrivateLinkConnectionDomainType.Enum:
      description: |2-
         - TIDBCLOUD_MANAGED: The domain pattern is <provider>.plc.tidbcloud.com.
         - CONFLUENT: The domain pattern is <provider>.confluent.cloud.
      enum:
      - TIDBCLOUD_MANAGED
      - CONFLUENT
      type: string
    PrivateLinkConnectionService.AttachDomainsBody:
      properties:
        attachDomain:
          allOf:
          - $ref: '#/components/schemas/AttachDomain'
          description: The domain to attach.
          type: object
        validateOnly:
          description: Only validate the request and return the domains without attaching
            them.
          type: boolean
      required:
      - attachDomain
      type: object
    PrivateLinkConnectionService.CreatePrivateLinkConnectionBody:
      properties:
        privateLinkConnection:
          allOf:
          - $ref: '#/components/schemas/PrivateLinkConnection'
          description: The private link connection to create.
          type: object
      required:
      - privateLinkConnection
      type: object
    PrivateLinkConnectionService.DetachDomainsBody:
      properties:
        attachDomainId:
          description: The attached domain ID to detach.
          type: string
      required:
      - attachDomainId
      type: object
    PrivateLinkConnectionState.Enum:
      description: |2-
         - CREATING: The private link connection is being created.
         - ACTIVE: The private link connection is active.
         - FAILED: The private link connection is in failed state.
         - PENDING_ACCEPTANCE: The private link connection is pending acceptance. only for AWS endpoint service and Alicloud endpoint service.
         - DELETING: The private link connection is being deleted.
      enum:
      - CREATING
      - ACTIVE
      - FAILED
      - PENDING_ACCEPTANCE
      - DELETING
      type: string
    PrivateLinkConnectionType.Enum:
      description: |2-
         - AWS_ENDPOINT_SERVICE: AWS endpoint service type.
         - ALICLOUD_ENDPOINT_SERVICE: Alicloud endpoint service type.
      enum:
      - AWS_ENDPOINT_SERVICE
      - ALICLOUD_ENDPOINT_SERVICE
      type: string
    Status:
      example:
        code: 0
        details:
        - '@type': '@type'
        - '@type': '@type'
        message: message
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
        details:
          items:
            $ref: '#/components/schemas/Any'
          type: array
      type: object
    PrivateLinkConnectionService_ListPrivateLinkConnections_state_parameter:
      enum:
      - CREATING
      - ACTIVE
      - FAILED
      - PENDING_ACCEPTANCE
      - DELETING
      type: string
x-original-swagger-version: "2.0"
