openapi: 3.0.1
info:
  description: TiDB Cloud Starter and Essential Database Audit Logging Open API
  title: TiDB Cloud Starter and Essential Database Audit Logging Open API
  version: v1beta1
servers:
- url: https://serverless.tidbapi.com/
tags:
- name: DatabaseAuditLogService
paths:
  /v1beta1/clusters/{clusterId}/auditLog/files:
    get:
      operationId: DatabaseAuditLogService_ListAuditLogFiles
      parameters:
      - description: Required. The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: Optional. The UTC date of the audit logs in the format of `YYYY-MM-DD`
          (e.g. 2025-01-01).
        in: query
        name: date
        schema:
          type: string
      - description: "Optional. The maximum number to return, default is 100, and\
          \ the maximum is 1000."
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Optional. The page token from the previous response for pagination.
        in: query
        name: pageToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuditLogFilesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: "List audit log files, only available when audit logs are stored in\
        \ TiDB Cloud."
      tags:
      - DatabaseAuditLogService
  /v1beta1/clusters/{clusterId}/auditLog/files:download:
    post:
      operationId: DatabaseAuditLogService_DownloadAuditLogFiles
      parameters:
      - description: Required. The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseAuditLogService.DownloadAuditLogFilesBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadAuditLogFilesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: "Generate audit log files download url, only available when audit logs\
        \ are stored in TiDB Cloud."
      tags:
      - DatabaseAuditLogService
      x-codegen-request-body-name: body
  /v1beta1/clusters/{clusterId}/auditLog/filterRules/{filterRuleId}:
    delete:
      operationId: DatabaseAuditLogService_DeleteAuditLogFilterRule
      parameters:
      - description: Required. The cluster ID
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: Required. The id of the filter rule.
        in: path
        name: filterRuleId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogFilterRule'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete audit log filter rule.
      tags:
      - DatabaseAuditLogService
    get:
      operationId: DatabaseAuditLogService_GetAuditLogFilterRule
      parameters:
      - description: Required. The cluster ID
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: Required. The id of the filter rule.
        in: path
        name: filterRuleId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogFilterRule'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get audit log filter rule.
      tags:
      - DatabaseAuditLogService
    patch:
      operationId: DatabaseAuditLogService_UpdateAuditLogFilterRule
      parameters:
      - description: Required. The cluster ID
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: Required. The id of the filter rule.
        in: path
        name: filterRuleId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseAuditLogService.UpdateAuditLogFilterRuleBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogFilterRule'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Update audit log filter rule.
      tags:
      - DatabaseAuditLogService
      x-codegen-request-body-name: body
  /v1beta1/clusters/{clusterId}/auditLog/filterRules:
    get:
      operationId: DatabaseAuditLogService_ListAuditLogFilterRules
      parameters:
      - description: Required. The cluster ID
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: "Optional. The maximum number to return, default is 10, and the\
          \ maximum is 100."
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Optional. The page token from the previous response for pagination.
        in: query
        name: pageToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListAuditLogFilterRulesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List audit log filter rules.
      tags:
      - DatabaseAuditLogService
    post:
      operationId: DatabaseAuditLogService_CreateAuditLogFilterRule
      parameters:
      - description: Required. The cluster ID
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseAuditLogService.CreateAuditLogFilterRuleBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogFilterRule'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create audit log filter rule.
      tags:
      - DatabaseAuditLogService
      x-codegen-request-body-name: body
  /v1beta1/clusters/{clusterId}/auditLog/config:
    get:
      operationId: DatabaseAuditLogService_GetAuditLogConfig
      parameters:
      - description: Required. The cluster ID
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogConfig'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get audit log configuration.
      tags:
      - DatabaseAuditLogService
    patch:
      operationId: DatabaseAuditLogService_UpdateAuditLogConfig
      parameters:
      - description: Required. The cluster ID
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseAuditLogService.UpdateAuditLogConfigBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuditLogConfig'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Update audit log configuration.
      tags:
      - DatabaseAuditLogService
      x-codegen-request-body-name: body
  /v1beta1/clusters/{clusterId}/auditLog/config:precheck:
    post:
      operationId: DatabaseAuditLogService_PreCheckAuditLogConfig
      parameters:
      - description: Required. The cluster ID
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseAuditLogService.PreCheckAuditLogConfigBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PreCheckAuditLogConfigResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: PreCheck audit Log configuration.
      tags:
      - DatabaseAuditLogService
      x-codegen-request-body-name: body
components:
  schemas:
    Any:
      additionalProperties:
        type: object
      example:
        '@type': '@type'
      properties:
        '@type':
          type: string
      type: object
    AuditLogConfig:
      example:
        rotationSizeMib: 6
        unredacted: true
        rotationIntervalMinutes: 0
        clusterId: clusterId
        cloudStorage: "{}"
        enabled: true
      properties:
        clusterId:
          description: OUTPUT_ONLY. The ID of the cluster.
          readOnly: true
          type: string
        enabled:
          description: Optional. Whether audit log is enabled.
          nullable: true
          type: boolean
        unredacted:
          description: Optional. Whether unredacted the audit log.
          nullable: true
          type: boolean
        cloudStorage:
          allOf:
          - $ref: '#/components/schemas/CloudStorage'
          description: Optional. The cloud storage for audit logs.
          type: object
        rotationIntervalMinutes:
          description: Optional. The rotation interval in minutes for audit logs.
            Default to 60 minutes.
          format: int32
          type: integer
        rotationSizeMib:
          description: Optional. The rotation size in MiB for audit logs. Default
            to 100 MiB.
          format: int32
          type: integer
      type: object
    AuditLogFile:
      example:
        createTime: 2000-01-23T04:56:07.000+00:00
        name: name
        url: url
        sizeBytes: 0
      properties:
        name:
          description: The name of the audit log.
          type: string
        sizeBytes:
          description: The size in bytes of the audit log.
          format: int64
          type: integer
        url:
          description: download url of the audit log.
          type: string
        createTime:
          description: The create time of the audit log.
          format: date-time
          type: string
      type: object
    AuditLogFilter:
      description: "Message for filter, only the entry matching all the conditions\
        \ will be audit logged."
      example:
        statusCodes:
        - 0
        - 0
        tables:
        - tables
        - tables
        classes:
        - classes
        - classes
      properties:
        classes:
          description: OPTIONAL. Classes to include in the filter combined with an
            OR relationship.
          items:
            type: string
          type: array
        tables:
          description: OPTIONAL. Tables to include in the filter combined with an
            OR relationship.
          items:
            type: string
          type: array
        statusCodes:
          description: OPTIONAL. Status codes to include in the filter combined with
            an OR relationship.
          items:
            format: int32
            type: integer
          type: array
      type: object
    AuditLogFilterRule:
      example:
        createTime: 2000-01-23T04:56:07.000+00:00
        displayName: displayName
        disabled: true
        updateTime: 2000-01-23T04:56:07.000+00:00
        clusterId: clusterId
        filters:
        - statusCodes:
          - 0
          - 0
          tables:
          - tables
          - tables
          classes:
          - classes
          - classes
        - statusCodes:
          - 0
          - 0
          tables:
          - tables
          - tables
          classes:
          - classes
          - classes
        filterRuleId: filterRuleId
        users:
        - users
        - users
      properties:
        filterRuleId:
          description: OUTPUT_ONLY. The audit log filter rule ID.
          readOnly: true
          type: string
        clusterId:
          description: OUTPUT_ONLY. The clusrer ID.
          readOnly: true
          type: string
        displayName:
          description: Required. Unique name of the filter rule within a cluster.
          type: string
        users:
          items:
            type: string
          title: "Required. Database users in the format <user>@<host> or <user> (host\
            \ defaults to %), e.g., %@%, 4C3z3cdMX8iXks5.root"
          type: array
        filters:
          description: "Required. List of filters combined with an OR relationship.\
            \ Set filters to [{}] will filter all logs."
          items:
            $ref: '#/components/schemas/AuditLogFilter'
          type: array
        disabled:
          description: OUTPUT_ONLY. Indicates whether the filter rule is disabled.
          readOnly: true
          type: boolean
        createTime:
          description: OUTPUT_ONLY. Timestamp when the filter rule was created.
          format: date-time
          readOnly: true
          type: string
        updateTime:
          description: OUTPUT_ONLY. Timestamp when the filter rule was updated.
          format: date-time
          nullable: true
          readOnly: true
          type: string
      required:
      - displayName
      - filters
      - users
      type: object
    AzureBlobCloudStorage:
      properties:
        uri:
          description: "Required. The Azure Blob URI. For example: azure://<account>.blob.core.windows.net/<container>/<path>/\
            \ or https://<account>.blob.core.windows.net/<container>/<path>/."
          type: string
        authType:
          allOf:
          - $ref: '#/components/schemas/AzureBlobCloudStorage.AzureBlobAuthType'
          description: Required. The auth method of Azure Blob.
          type: object
        sasToken:
          description: Optional. The sas token.
          type: string
      required:
      - authType
      - uri
      type: object
    AzureBlobCloudStorage.AzureBlobAuthType:
      description: " - SAS_TOKEN: The access method is sas token."
      enum:
      - SAS_TOKEN
      type: string
    CloudStorage:
      description: Message for cloud storage.
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/CloudStorageType.Enum'
          description: Required. The type of cloud storage.
          type: object
        s3:
          $ref: '#/components/schemas/S3CloudStorage'
        gcs:
          $ref: '#/components/schemas/GCSCloudStorage'
        azureBlob:
          $ref: '#/components/schemas/AzureBlobCloudStorage'
        oss:
          $ref: '#/components/schemas/OSSCloudStorage'
      required:
      - type
      type: object
    CloudStorageType.Enum:
      description: |2-
         - TIDB_CLOUD: TiDB Cloud's own cloud storage.
         - S3: Amazon S3 cloud storage.
         - GCS: Google Cloud Storage.
         - AZURE_BLOB: Azure Blob Storage.
         - OSS: Alibaba Cloud OSS.
      enum:
      - TIDB_CLOUD
      - S3
      - GCS
      - AZURE_BLOB
      - OSS
      type: string
    DatabaseAuditLogService.CreateAuditLogFilterRuleBody:
      properties:
        filterRule:
          allOf:
          - $ref: '#/components/schemas/AuditLogFilterRule'
          title: Required. The filter rule to create
          type: object
      required:
      - filterRule
      type: object
    DatabaseAuditLogService.DownloadAuditLogFilesBody:
      properties:
        auditLogNames:
          description: Required. The name of the audit logs to download. Up to 100
            audit logs can be downloaded at the same time.
          items:
            type: string
          type: array
      required:
      - auditLogNames
      type: object
    DatabaseAuditLogService.PreCheckAuditLogConfigBody:
      properties:
        cloudStorage:
          allOf:
          - $ref: '#/components/schemas/CloudStorage'
          description: OPTIONAL. PreCheck the audit log cloud storage configuration.
          type: object
      type: object
    DatabaseAuditLogService.UpdateAuditLogConfigBody:
      properties:
        auditLogConfig:
          allOf:
          - $ref: '#/components/schemas/AuditLogConfig'
          description: Required. The audit log configuration to update.
          type: object
      required:
      - auditLogConfig
      type: object
    DatabaseAuditLogService.UpdateAuditLogFilterRuleBody:
      properties:
        filters:
          description: "OPTIONAL. List of filters combined with an OR relationship.\
            \ Set filters to [{}] will filter all logs."
          items:
            $ref: '#/components/schemas/AuditLogFilter'
          type: array
        users:
          items:
            type: string
          title: "OPTIONAL. Database users in the format <user>@<host> or <user> (host\
            \ defaults to %), e.g., %@%, 4C3z3cdMX8iXks5.root"
          type: array
        disabled:
          description: OPTIONAL. Indicates whether the filter rule is disabled.
          nullable: true
          type: boolean
        displayName:
          description: OPTIONAL. Display name of the filter rule.
          type: string
      type: object
    DownloadAuditLogFilesResponse:
      example:
        auditLogFiles:
        - createTime: 2000-01-23T04:56:07.000+00:00
          name: name
          url: url
          sizeBytes: 0
        - createTime: 2000-01-23T04:56:07.000+00:00
          name: name
          url: url
          sizeBytes: 0
      properties:
        auditLogFiles:
          description: The audit logs with the download url.
          items:
            $ref: '#/components/schemas/AuditLogFile'
          type: array
      type: object
    GCSCloudStorage:
      properties:
        uri:
          description: "Required. The GCS URI. For example: gs://<bucket>/<path>/."
          type: string
        authType:
          allOf:
          - $ref: '#/components/schemas/GCSCloudStorage.GCSAuthType'
          description: Required. The auth method of GCS.
          type: object
        serviceAccountKey:
          description: Required. The service account key.
          type: string
      required:
      - authType
      - uri
      type: object
    GCSCloudStorage.GCSAuthType:
      description: " - SERVICE_ACCOUNT_KEY: The access method is service account key."
      enum:
      - SERVICE_ACCOUNT_KEY
      type: string
    ListAuditLogFilesResponse:
      example:
        nextPageToken: nextPageToken
        auditLogFiles:
        - createTime: 2000-01-23T04:56:07.000+00:00
          name: name
          url: url
          sizeBytes: 0
        - createTime: 2000-01-23T04:56:07.000+00:00
          name: name
          url: url
          sizeBytes: 0
      properties:
        auditLogFiles:
          description: The audit log files without the download url.
          items:
            $ref: '#/components/schemas/AuditLogFile'
          type: array
        nextPageToken:
          description: Token provided to retrieve the next page of results.
          type: string
      type: object
    ListAuditLogFilterRulesResponse:
      example:
        filterRules:
        - createTime: 2000-01-23T04:56:07.000+00:00
          displayName: displayName
          disabled: true
          updateTime: 2000-01-23T04:56:07.000+00:00
          clusterId: clusterId
          filters:
          - statusCodes:
            - 0
            - 0
            tables:
            - tables
            - tables
            classes:
            - classes
            - classes
          - statusCodes:
            - 0
            - 0
            tables:
            - tables
            - tables
            classes:
            - classes
            - classes
          filterRuleId: filterRuleId
          users:
          - users
          - users
        - createTime: 2000-01-23T04:56:07.000+00:00
          displayName: displayName
          disabled: true
          updateTime: 2000-01-23T04:56:07.000+00:00
          clusterId: clusterId
          filters:
          - statusCodes:
            - 0
            - 0
            tables:
            - tables
            - tables
            classes:
            - classes
            - classes
          - statusCodes:
            - 0
            - 0
            tables:
            - tables
            - tables
            classes:
            - classes
            - classes
          filterRuleId: filterRuleId
          users:
          - users
          - users
        totalSize: 0
        nextPageToken: nextPageToken
      properties:
        filterRules:
          items:
            $ref: '#/components/schemas/AuditLogFilterRule'
          type: array
        nextPageToken:
          type: string
        totalSize:
          format: int64
          type: integer
      type: object
    OSSCloudStorage:
      properties:
        uri:
          description: "Required. The OSS URI. For example: oss://<bucket>/<path>/."
          type: string
        authType:
          allOf:
          - $ref: '#/components/schemas/OSSCloudStorage.OSSAuthType'
          description: Required. The auth method of OSS.
          type: object
        accessKey:
          allOf:
          - $ref: '#/components/schemas/OSSCloudStorage.AccessKey'
          description: Optional. The access key.
          type: object
        roleArn:
          description: Optional. The role arn.
          type: string
      required:
      - authType
      - uri
      type: object
    OSSCloudStorage.AccessKey:
      properties:
        id:
          description: Required. The access key id.
          type: string
        secret:
          description: Required. The access key secret. This field is input-only.
          type: string
      required:
      - id
      - secret
      type: object
    OSSCloudStorage.OSSAuthType:
      description: |2-
         - ACCESS_KEY: The access method is access key.
         - ROLE_ARN: The access method is role arn.
      enum:
      - ACCESS_KEY
      - ROLE_ARN
      type: string
    PreCheckAuditLogConfigResponse:
      type: object
    S3CloudStorage:
      properties:
        uri:
          description: "Required. The URI of the S3 folder. For example: s3://<bucket>/<path>/."
          type: string
        authType:
          allOf:
          - $ref: '#/components/schemas/S3CloudStorage.S3AuthType'
          description: Required. The auth method of S3.
          type: object
        accessKey:
          allOf:
          - $ref: '#/components/schemas/S3CloudStorage.AccessKey'
          description: Optional. The access key of the S3.
          type: object
        roleArn:
          description: Optional. The role arn of the S3.
          type: string
      required:
      - authType
      - uri
      type: object
    S3CloudStorage.AccessKey:
      properties:
        id:
          description: Required. The access key id of the S3.
          type: string
        secret:
          description: Required. The secret access key of the S3.
          type: string
      required:
      - id
      - secret
      type: object
    S3CloudStorage.S3AuthType:
      description: |2-
         - ROLE_ARN: The access method is role arn.
         - ACCESS_KEY: The access method is access key.
      enum:
      - ROLE_ARN
      - ACCESS_KEY
      type: string
    Status:
      example:
        code: 6
        details:
        - '@type': '@type'
        - '@type': '@type'
        message: message
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
        details:
          items:
            $ref: '#/components/schemas/Any'
          type: array
      type: object
x-original-swagger-version: "2.0"
