openapi: 3.0.1
info:
  description: TiDB Cloud Starter and Essential API
  title: TiDB Cloud Starter and Essential API
  version: v1beta1
servers:
- url: https://serverless.tidbapi.com/
tags:
- name: BranchService
paths:
  /v1beta1/clusters/{clusterId}/branches:
    get:
      operationId: BranchService_ListBranches
      parameters:
      - description: "The ID of the cluster to which the [branch](https://docs.pingcap.com/tidbcloud/branch-overview/)\
          \ belongs."
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: "The maximum number of branches to return. If not specified,\
          \ at most 10 branches will be returned. The maximum value is `100`. Values\
          \ greater than `100` are set to `100`."
        in: query
        name: pageSize
        schema:
          default: 10
          format: int32
          type: integer
      - description: |-
          The pagination token received from a previous [List branches](#tag/Branch/operation/BranchService_ListBranches) request. Use this token to retrieve the next page of results.

          **Note**: When paginating, all other parameters must match the original request.
        in: query
        name: pageToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListBranchesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List branches
      tags:
      - BranchService
      x-codeSamples:
      - label: curl
        lang: cURL
        source: |-
          curl --location 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/branches' \
          --digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \
          --header 'Accept: application/json'
    post:
      operationId: BranchService_CreateBranch
      parameters:
      - description: The ID of the cluster to which the branch belongs.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Branch'
        description: The branch being created.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Branch'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Creates a branch
      tags:
      - BranchService
      x-codeSamples:
      - label: curl
        lang: cURL
        source: |-
          curl --location 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/branches' \
          --digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --data '{
              "displayName": "test"
          }'
      x-codegen-request-body-name: branch
  /v1beta1/clusters/{clusterId}/branches/{branchId}:
    delete:
      operationId: BranchService_DeleteBranch
      parameters:
      - description: The ID of the cluster to which the branch belongs.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: The ID of the branch.
        in: path
        name: branchId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Branch'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete a branch
      tags:
      - BranchService
      x-codeSamples:
      - label: curl
        lang: cURL
        source: |-
          curl --location --request DELETE 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/branches/{branch_id}' \
          --digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \
          --header 'Accept: application/json'
    get:
      operationId: BranchService_GetBranch
      parameters:
      - description: The ID of the cluster to which the branch belongs.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: The ID of the branch.
        in: path
        name: branchId
        required: true
        schema:
          type: string
      - description: |-
          The detail level of the branch information to return. Default value is `FULL`.

          - `BASIC`: returns only basic branch information.
          - `FULL`: returns complete branch details.
        in: query
        name: view
        schema:
          $ref: '#/components/schemas/BranchService_GetBranch_view_parameter'
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Branch'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get detail of a branch
      tags:
      - BranchService
      x-codeSamples:
      - label: curl
        lang: cURL
        source: |-
          curl --location 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/branches/{branch_id}' \
          --digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \
          --header 'Accept: application/json'
  /v1beta1/clusters/{clusterId}/branches/{branchId}:reset:
    post:
      description: Resets a branch to match the current state of its parent branch.
      operationId: BranchService_ResetBranch
      parameters:
      - description: The ID of the cluster to which the branch belongs.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: The ID of the branch.
        in: path
        name: branchId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Branch'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Reset a branch
      tags:
      - BranchService
      x-codeSamples:
      - label: curl
        lang: cURL
        source: |-
          curl --location --request POST 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/branches/{branch_id}:reset' \
          --digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \
          --header 'Accept: application/json'
  /v1beta1/clusters/{clusterId}/branches/{branchId}/sqlUsers/{username}:
    patch:
      operationId: BranchService_UpdateSqlUser
      parameters:
      - description: The ID of the cluster to which the branch belongs.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: The ID of the branch.
        in: path
        name: branchId
        required: true
        schema:
          type: string
      - description: The username of the branch sql user.
        in: path
        name: username
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BranchService.UpdateSqlUserBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SqlUser'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Update a branch sql user
      tags:
      - BranchService
      x-codeSamples:
      - label: curl
        lang: cURL
        source: |-
          curl --location 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/branches/{branch_id}/sqlUsers/{username}' \
          --digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --data '{
              "password": "test1234"
          }'
      x-codegen-request-body-name: body
components:
  schemas:
    Any:
      additionalProperties:
        type: object
      example:
        '@type': '@type'
      properties:
        '@type':
          type: string
      type: object
    Branch:
      description: Message for branch.
      example:
        branchId: branchId
        endpoints: "{}"
        displayName: displayName
        annotations:
          key: annotations
        updateTime: 2000-01-23T04:56:07.000+00:00
        clusterId: clusterId
        parentId: parentId
        parentDisplayName: parentDisplayName
        parentTimestamp: 2000-01-23T04:56:07.000+00:00
        createdBy: createdBy
        createTime: 2000-01-23T04:56:07.000+00:00
        name: name
        userPrefix: userPrefix
        state: "{}"
        rootPassword: my-shining-password
      properties:
        name:
          description: The unique identifier for the branch.
          readOnly: true
          type: string
        branchId:
          description: The system-generated ID of the branch.
          readOnly: true
          type: string
        displayName:
          description: The user-defined name of the branch.
          type: string
        clusterId:
          description: The ID of the cluster to which the branch belongs.
          readOnly: true
          type: string
        parentId:
          description: The ID of the branch parent.
          type: string
        createdBy:
          description: The email address of the user who create the branch.
          readOnly: true
          type: string
        state:
          allOf:
          - $ref: '#/components/schemas/Branch.State'
          description: The state of the branch.
          type: object
        endpoints:
          allOf:
          - $ref: '#/components/schemas/Branch.Endpoints'
          description: The connection endpoints for accessing the branch.
          type: object
        userPrefix:
          description: "The unique prefix automatically generated for SQL usernames\
            \ on this cluster. TiDB Cloud uses this prefix to distinguish between\
            \ clusters. For more information, see [User name prefix](https://docs.pingcap.com/tidbcloud/select-cluster-tier/#user-name-prefix)."
          nullable: true
          readOnly: true
          type: string
        createTime:
          description: "The timestamp when the branch was created, in the [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)\
            \ format."
          format: date-time
          readOnly: true
          type: string
        updateTime:
          description: "The timestamp when the branch was last updated, in the [ISO\
            \ 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          readOnly: true
          type: string
        annotations:
          additionalProperties:
            type: string
          description: The annotations for the branch.
          type: object
        parentDisplayName:
          description: The display name of the parent branch from which the branch
            was created.
          readOnly: true
          type: string
        parentTimestamp:
          description: The point in time on the parent branch from which the branch
            is created. The timestamp is truncated to seconds without rounding.
          format: date-time
          nullable: true
          type: string
        rootPassword:
          description: "The root password of the branch. It must be between 8 and\
            \ 64 characters long and can contain letters, numbers, and special characters."
          example: my-shining-password
          maxLength: 64
          minLength: 8
          pattern: "^.{8,64}$"
          type: string
      required:
      - displayName
      type: object
    Branch.Endpoints:
      description: Message for the Endpoints for this branch.
      properties:
        public:
          allOf:
          - $ref: '#/components/schemas/Branch.Endpoints.Public'
          description: The public endpoint configuration for connecting to the branch.
          type: object
        private:
          allOf:
          - $ref: '#/components/schemas/Branch.Endpoints.Private'
          description: The private endpoint for securely connecting to the branch.
          type: object
      type: object
    Branch.Endpoints.Private:
      description: Message for Private Endpoint for this branch.
      properties:
        host:
          description: The hostname of the private endpoint.
          readOnly: true
          type: string
        port:
          description: The port number of the private endpoint.
          format: int32
          readOnly: true
          type: integer
        aws:
          allOf:
          - $ref: '#/components/schemas/Branch.Endpoints.Private.AWS'
          description: "The [AWS PrivateLink](https://aws.amazon.com/privatelink/)\
            \ configuration details for private access."
          type: object
        gcp:
          allOf:
          - $ref: '#/components/schemas/Branch.Endpoints.Private.GCP'
          title: Message for GCP
          type: object
      type: object
    Branch.Endpoints.Private.AWS:
      description: Message for AWS Private Link Service.
      properties:
        serviceName:
          description: The AWS service name for private access.
          readOnly: true
          type: string
        availabilityZone:
          description: A list of availability zones where the service is available.
          items:
            type: string
          readOnly: true
          type: array
      type: object
    Branch.Endpoints.Private.GCP:
      description: Message for GCP Private Link Service.
      properties:
        serviceAttachmentName:
          description: Target Service Account for Private Link Service.
          readOnly: true
          type: string
      type: object
    Branch.Endpoints.Public:
      description: Message for Public Endpoint for this branch.
      properties:
        host:
          description: The hostname of the public endpoint.
          readOnly: true
          type: string
        port:
          description: The port number of the public endpoint.
          format: int32
          readOnly: true
          type: integer
        disabled:
          description: Indicates whether the public endpoint is disabled.
          type: boolean
        authorizedNetworks:
          description: The list of networks that are allowed to connect to the branch.
          items:
            $ref: '#/components/schemas/Branch.Endpoints.Public.AuthorizedNetwork'
          readOnly: true
          type: array
      type: object
    Branch.Endpoints.Public.AuthorizedNetwork:
      properties:
        displayName:
          description: The display name of the authorized network.
          type: string
        startIpAddress:
          description: The starting IP address of the authorized network range.
          type: string
        endIpAddress:
          description: The ending IP address of the authorized network range.
          type: string
      type: object
    Branch.State:
      description: |-
        Branch State.

         - CREATING: The branch is being created.
         - ACTIVE: The branch is active and running.
         - DELETED: The branch is being deleted.
         - RESTORING: The branch is restoring.
      enum:
      - CREATING
      - ACTIVE
      - DELETED
      - RESTORING
      type: string
    BranchService.UpdateSqlUserBody:
      properties:
        password:
          description: "The password of the sql user. It must be between 8 and 64\
            \ characters long and can contain letters, numbers, and special characters."
          example: my-shining-password
          maxLength: 64
          minLength: 8
          pattern: "^.{8,64}$"
          type: string
      type: object
    BranchView:
      description: View on branch. Pass this enum to control which subsets of fields
        to get.
      enum:
      - BASIC
      - FULL
      type: string
    ListBranchesResponse:
      description: Message for response to list branches.
      example:
        totalSize: 0
        nextPageToken: nextPageToken
        branches:
        - branchId: branchId
          endpoints: "{}"
          displayName: displayName
          annotations:
            key: annotations
          updateTime: 2000-01-23T04:56:07.000+00:00
          clusterId: clusterId
          parentId: parentId
          parentDisplayName: parentDisplayName
          parentTimestamp: 2000-01-23T04:56:07.000+00:00
          createdBy: createdBy
          createTime: 2000-01-23T04:56:07.000+00:00
          name: name
          userPrefix: userPrefix
          state: "{}"
          rootPassword: my-shining-password
        - branchId: branchId
          endpoints: "{}"
          displayName: displayName
          annotations:
            key: annotations
          updateTime: 2000-01-23T04:56:07.000+00:00
          clusterId: clusterId
          parentId: parentId
          parentDisplayName: parentDisplayName
          parentTimestamp: 2000-01-23T04:56:07.000+00:00
          createdBy: createdBy
          createTime: 2000-01-23T04:56:07.000+00:00
          name: name
          userPrefix: userPrefix
          state: "{}"
          rootPassword: my-shining-password
      properties:
        branches:
          description: A list of branches that match the query.
          items:
            $ref: '#/components/schemas/Branch'
          type: array
        nextPageToken:
          description: The token to retrieve the next page of results. Use this value
            as the `pageToken` parameter in the next request. This field is empty
            when there are no more pages.
          type: string
        totalSize:
          description: The total number of branches that match the query.
          format: int64
          type: integer
      type: object
    SqlUser:
      example:
        username: username
      properties:
        username:
          description: The username of the branch sql user.
          type: string
      required:
      - username
      type: object
    Status:
      example:
        code: 6
        details:
        - '@type': '@type'
        - '@type': '@type'
        message: message
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
        details:
          items:
            $ref: '#/components/schemas/Any'
          type: array
      type: object
    BranchService_GetBranch_view_parameter:
      enum:
      - BASIC
      - FULL
      type: string
x-original-swagger-version: "2.0"
