{
  "swagger": "2.0",
  "info": {
    "title": "TiDB Cloud Serverless Open API",
    "description": "TiDB Cloud Serverless Open API",
    "version": "v1beta1"
  },
  "tags": [
    {
      "name": "ImportService"
    }
  ],
  "host": "serverless.tidbapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1beta1/clusters/{clusterId}/imports": {
      "get": {
        "operationId": "ImportService_ListImports",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1beta1ListImportsResp"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uint64"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageSize",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          }
        ],
        "tags": [
          "ImportService"
        ]
      },
      "post": {
        "operationId": "ImportService_CreateImport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1beta1Import"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uint64"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "type": {
                  "$ref": "#/definitions/CreateImportReqImportType"
                },
                "dataFormat": {
                  "$ref": "#/definitions/v1beta1DataFormat"
                },
                "importOptions": {
                  "$ref": "#/definitions/v1beta1ImportOptions",
                  "description": "Optional. The options of the import."
                },
                "target": {
                  "$ref": "#/definitions/v1beta1ImportTarget",
                  "description": "Optional. The target of the import."
                }
              },
              "required": [
                "type",
                "dataFormat"
              ]
            }
          }
        ],
        "tags": [
          "ImportService"
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/imports/{id}": {
      "get": {
        "operationId": "ImportService_GetImport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1beta1Import"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uint64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ImportService"
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/imports/{id}:cancel": {
      "post": {
        "operationId": "ImportService_CancelImport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "in": "path",
            "required": true,
            "type": "string",
            "format": "uint64"
          },
          {
            "name": "id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ImportService"
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/imports:cancel-upload": {
      "post": {
        "operationId": "ImportService_CancelMultipartUpload",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "The ID of the cluster to import into",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileName",
            "description": "The name of the file to import",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "uploadId",
            "description": "The ID of the upload",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ImportService"
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/imports:complete-upload": {
      "post": {
        "operationId": "ImportService_CompleteMultipartUpload",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "The ID of the cluster to import into",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "parts",
            "description": "The parts have been uploaded",
            "in": "body",
            "required": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "object",
                "$ref": "#/definitions/v1beta1CompletePart"
              },
              "required": [
                "parts"
              ]
            }
          },
          {
            "name": "fileName",
            "description": "The name of the file to import",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "uploadId",
            "description": "The ID of the upload",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ImportService"
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/imports:start-upload": {
      "get": {
        "summary": "Generate Upload url for importing data",
        "operationId": "ImportService_StartUpload",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1beta1StartUploadResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/googlerpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "The ID of the cluster to import into",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "fileName",
            "description": "The name of the file to import",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "partNumber",
            "description": "The number of parts to split the file into",
            "in": "query",
            "required": true,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "targetDatabase",
            "description": "The name of the database to import into",
            "in": "query",
            "required": true,
            "type": "string"
          },
          {
            "name": "targetTable",
            "description": "The name of the table to import into",
            "in": "query",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ImportService"
        ]
      }
    }
  },
  "definitions": {
    "CreateImportReqImportType": {
      "type": "string",
      "enum": [
        "S3",
        "GCS",
        "LOCAL"
      ]
    },
    "ImportTableCompletionInfoResult": {
      "type": "string",
      "enum": [
        "SUCCESS",
        "WARNING",
        "ERROR"
      ]
    },
    "ImportTargetImportTargetType": {
      "type": "string",
      "enum": [
        "LOCAL"
      ],
      "description": " - TARGET_UNSPECIFIED: The target of the import is unknown.\n - LOCAL: Local target."
    },
    "ImportTargetLocalTarget": {
      "type": "object",
      "properties": {
        "uploadId": {
          "type": "string",
          "description": "Optional. The upload id of import source file."
        },
        "targetTable": {
          "$ref": "#/definitions/v1beta1Table",
          "description": "Optional. The table to import to."
        },
        "fileName": {
          "type": "string",
          "description": "Optional. The file name to import."
        }
      }
    },
    "googlerpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "v1beta1CompletePart": {
      "type": "object",
      "properties": {
        "partNumber": {
          "type": "integer",
          "format": "int32",
          "title": "The part number"
        },
        "etag": {
          "type": "string",
          "title": "The ETag of the part"
        }
      },
      "required": [
        "partNumber",
        "etag"
      ]
    },
    "v1beta1CreateImportReq": {
      "type": "object",
      "properties": {
        "clusterId": {
          "type": "string",
          "format": "uint64"
        },
        "type": {
          "$ref": "#/definitions/CreateImportReqImportType"
        },
        "dataFormat": {
          "$ref": "#/definitions/v1beta1DataFormat"
        },
        "importOptions": {
          "$ref": "#/definitions/v1beta1ImportOptions",
          "description": "Optional. The options of the import."
        },
        "target": {
          "$ref": "#/definitions/v1beta1ImportTarget",
          "description": "Optional. The target of the import."
        }
      },
      "required": [
        "clusterId",
        "type",
        "dataFormat"
      ]
    },
    "v1beta1CurrentTable": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "readOnly": true
        },
        "size": {
          "type": "string",
          "format": "uint64",
          "readOnly": true
        },
        "completedPercent": {
          "type": "integer",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "v1beta1CustomCSVFormat": {
      "type": "object",
      "properties": {
        "separator": {
          "type": "string"
        },
        "delimiter": {
          "type": "string"
        },
        "header": {
          "type": "boolean"
        },
        "notNull": {
          "type": "boolean"
        },
        "null": {
          "type": "string"
        },
        "backslashEscape": {
          "type": "boolean"
        },
        "trimLastSeparator": {
          "type": "boolean"
        }
      }
    },
    "v1beta1DataFormat": {
      "type": "string",
      "enum": [
        "SqlFile",
        "AuroraSnapshot",
        "CSV",
        "Parquet"
      ]
    },
    "v1beta1Import": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "readOnly": true
        },
        "clusterId": {
          "type": "string",
          "format": "uint64",
          "readOnly": true
        },
        "totalSize": {
          "type": "string",
          "format": "uint64",
          "description": "The total size of the data imported.",
          "readOnly": true
        },
        "totalFiles": {
          "type": "integer",
          "format": "int64",
          "description": "The total number of files of the data imported.",
          "readOnly": true
        },
        "completedTables": {
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "pendingTables": {
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "createdAt": {
          "type": "string",
          "format": "date-time",
          "readOnly": true
        },
        "status": {
          "$ref": "#/definitions/v1beta1ImportStatus",
          "readOnly": true
        },
        "completedPercent": {
          "type": "integer",
          "format": "int64",
          "description": "The process in percent of the import job, but doesn't include the post-processing progress.",
          "readOnly": true
        },
        "currentTables": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1beta1CurrentTable"
          },
          "description": "The current tables are being imported.",
          "readOnly": true
        },
        "dataFormat": {
          "$ref": "#/definitions/v1beta1DataFormat",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "readOnly": true
        },
        "elapsedTimeSeconds": {
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "processedSourceDataSize": {
          "type": "string",
          "format": "uint64",
          "readOnly": true
        },
        "totalTablesCount": {
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "postImportCompletedPercent": {
          "type": "integer",
          "format": "int64",
          "readOnly": true
        },
        "allCompletedTables": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1beta1ImportTableCompletionInfo"
          },
          "description": "all completed means whole process (import + post-process) has finised.  It may contain warnings or errors.",
          "readOnly": true
        },
        "creationDetails": {
          "$ref": "#/definitions/v1beta1CreateImportReq",
          "readOnly": true
        }
      }
    },
    "v1beta1ImportOptions": {
      "type": "object",
      "properties": {
        "csvFormat": {
          "$ref": "#/definitions/v1beta1CustomCSVFormat"
        }
      }
    },
    "v1beta1ImportStatus": {
      "type": "string",
      "enum": [
        "PREPARING",
        "IMPORTING",
        "COMPLETED",
        "FAILED",
        "CANCELING",
        "CANCELED"
      ]
    },
    "v1beta1ImportTableCompletionInfo": {
      "type": "object",
      "properties": {
        "tableName": {
          "type": "string",
          "readOnly": true
        },
        "result": {
          "$ref": "#/definitions/ImportTableCompletionInfoResult",
          "readOnly": true
        },
        "message": {
          "type": "string",
          "readOnly": true
        }
      }
    },
    "v1beta1ImportTarget": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/ImportTargetImportTargetType",
          "description": "Optional. The imported file type."
        },
        "local": {
          "$ref": "#/definitions/ImportTargetLocalTarget",
          "description": "Optional. The s3 information."
        }
      }
    },
    "v1beta1ListImportsResp": {
      "type": "object",
      "properties": {
        "imports": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1beta1Import"
          },
          "readOnly": true
        },
        "total": {
          "type": "integer",
          "format": "int64",
          "readOnly": true
        }
      }
    },
    "v1beta1StartUploadResponse": {
      "type": "object",
      "properties": {
        "uploadUrl": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "title": "The URL to upload the file to"
        },
        "uploadId": {
          "type": "string",
          "title": "The ID of the upload"
        }
      }
    },
    "v1beta1Table": {
      "type": "object",
      "properties": {
        "schema": {
          "type": "string"
        },
        "table": {
          "type": "string"
        }
      }
    }
  }
}
