openapi: 3.0.1
info:
  description: TiDB Cloud Serverless CDC Open API
  title: TiDB Cloud Serverless CDC Open API
  version: v1beta1
servers:
- url: https://serverless.tidbapi.com/
tags:
- name: ConnectorService
paths:
  /v1beta1/clusters/{clusterId}/connectors:
    get:
      operationId: ConnectorService_ListConnectors
      parameters:
      - description: Required. The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: Optional. The maximum number of connectors to return. Default
          is 10.
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: Optional. The page token from the previous response for pagination.
        in: query
        name: pageToken
        schema:
          type: string
      - description: |-
          Optional. The type of the connector. DEFAULT is all.

           - KAFKA: Kafka connector type.
        in: query
        name: connectorType
        schema:
          $ref: '#/components/schemas/ConnectorService_ListConnectors_connectorType_parameter'
      - description: "Optional. List connectors order by, separated by comma, default\
          \ is ascending. Example: \"create_time, bar desc\". Supported field: create_time"
        in: query
        name: orderBy
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connectors'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List connectors.
      tags:
      - ConnectorService
    post:
      operationId: ConnectorService_CreateConnector
      parameters:
      - description: Required. The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorService.CreateConnectorBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorID'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create a connector.
      tags:
      - ConnectorService
      x-codegen-request-body-name: body
  /v1beta1/clusters/{clusterId}/connectors/{connectorId}:
    delete:
      operationId: ConnectorService_DeleteConnector
      parameters:
      - description: Required. The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: Required. The ID of the connector.
        in: path
        name: connectorId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorID'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete a connector.
      tags:
      - ConnectorService
    get:
      operationId: ConnectorService_GetConnector
      parameters:
      - description: Required. The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: Required. The ID of the connector.
        in: path
        name: connectorId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Connector'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get a connector.
      tags:
      - ConnectorService
  /v1beta1/clusters/{clusterId}/connectors/{connectorId}:start:
    post:
      operationId: ConnectorService_StartConnector
      parameters:
      - description: Required. The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: Required. The ID of the connector.
        in: path
        name: connectorId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorService.StartConnectorBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorID'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Start a connector.
      tags:
      - ConnectorService
      x-codegen-request-body-name: body
  /v1beta1/clusters/{clusterId}/connectors/{connectorId}:stop:
    post:
      operationId: ConnectorService_StopConnector
      parameters:
      - description: Required. The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: Required. The ID of the connector.
        in: path
        name: connectorId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorService.StopConnectorBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorID'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Stop a connector.
      tags:
      - ConnectorService
      x-codegen-request-body-name: body
  /v1beta1/clusters/{clusterId}/connectors/{connectorId}:edit:
    post:
      operationId: ConnectorService_EditConnector
      parameters:
      - description: Required. The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: Required. The ID of the connector.
        in: path
        name: connectorId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorService.EditConnectorBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ConnectorID'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Edit a connector.
      tags:
      - ConnectorService
      x-codegen-request-body-name: body
  /v1beta1/clusters/{clusterId}/connectors:test:
    post:
      operationId: ConnectorService_TestConnector
      parameters:
      - description: Required. The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorService.TestConnectorBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Test a connector.
      tags:
      - ConnectorService
      x-codegen-request-body-name: body
  /v1beta1/clusters/{clusterId}/connectors:describeSchemaTable:
    post:
      operationId: ConnectorService_DescribeSchemaTable
      parameters:
      - description: Required. The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorService.DescribeSchemaTableBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DescribeSchemaTableResp'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Describe schema table.
      tags:
      - ConnectorService
      x-codegen-request-body-name: body
  /v1beta1/clusters/{clusterId}/connectors/private-link-endpoints:
    post:
      operationId: ConnectorService_CreatePrivateLinkEndpoint
      parameters:
      - description: Required. The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ConnectorService.CreatePrivateLinkEndpointBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkEndpoint'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create a private link
      tags:
      - ConnectorService
      x-codegen-request-body-name: body
  /v1beta1/clusters/{clusterId}/connectors/private-links-endpoints:
    delete:
      operationId: ConnectorService_DeletePrivateLinkEndpoint
      parameters:
      - description: Required. The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: Required. The private link service name.
        in: query
        name: privateLinkServiceName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkEndpoint'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete a private link
      tags:
      - ConnectorService
    get:
      operationId: ConnectorService_GetPrivateLinkEndpoint
      parameters:
      - description: Required. The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: Required. The private link service name.
        in: query
        name: privateLinkServiceName
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PrivateLinkEndpoint'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get a private link
      tags:
      - ConnectorService
components:
  schemas:
    Any:
      additionalProperties:
        type: object
      example:
        '@type': '@type'
      properties:
        '@type':
          type: string
      type: object
    Authentication:
      properties:
        authType:
          $ref: '#/components/schemas/KafkaAuthType.Enum'
        userName:
          type: string
        password:
          type: string
      type: object
    AvroConfig:
      properties:
        decimalHandlingMode:
          $ref: '#/components/schemas/DecimalHandlingMode.Enum'
        bigintUnsignedHandlingMode:
          $ref: '#/components/schemas/BigintUnsignedHandlingMode.Enum'
        confluentSchemaRegistry:
          allOf:
          - $ref: '#/components/schemas/ConfluentSchemaRegistry'
          description: Confluent Schema Registry.
          type: object
        awsGlueSchemaRegistry:
          allOf:
          - $ref: '#/components/schemas/GlueSchemaRegistry'
          description: AWS Glue Schema Registry.
          type: object
      type: object
    BigintUnsignedHandlingMode.Enum:
      description: |2-
         - LONG: Long handling mode for unsigned bigint.
         - STRING: String handling mode for unsigned bigint.
      enum:
      - LONG
      - STRING
      type: string
    Broker:
      properties:
        kafkaVersion:
          $ref: '#/components/schemas/KafkaVersion.Enum'
        brokerEndpoints:
          type: string
        tlsEnable:
          type: boolean
        compression:
          $ref: '#/components/schemas/KafkaCompressionType.Enum'
      type: object
    CDCCheckpoint:
      properties:
        tso:
          description: OUTPUT_ONLY. The checkpoint TSO.
          format: uint64
          readOnly: true
          type: string
        time:
          description: OUTPUT_ONLY. The checkpoint in utc.
          readOnly: true
          type: string
      type: object
    CDCFilter:
      properties:
        filterRule:
          items:
            type: string
          type: array
        mode:
          $ref: '#/components/schemas/TableMode.Enum'
        eventFilterRule:
          items:
            $ref: '#/components/schemas/EventFilterRule'
          type: array
      type: object
    CDCProtocol.Enum:
      description: |2-
         - CANAL_JSON: Canal-JSON protocol.
         - OPEN_PROTOCOL: Open Protocol.
         - AVRO: Avro protocol.
      enum:
      - CANAL_JSON
      - OPEN_PROTOCOL
      - AVRO
      type: string
    CDCState.Enum:
      description: |2-
         - RUNNING: The changefeed is running.
         - CREATE_FAILED: The changefeed has failed during creation.
         - RUNNING_FAILED: The changefeed has failed during running.
         - CREATING: The changefeed is being created.
         - PAUSED: The changefeed is paused.
         - DELETED: The changefeed is deleted.
         - WARNING: The changefeed has a warning.
      enum:
      - RUNNING
      - CREATE_FAILED
      - RUNNING_FAILED
      - CREATING
      - PAUSED
      - DELETED
      - WARNING
      type: string
    ColumnSelector:
      properties:
        matcher:
          items:
            type: string
          type: array
        columns:
          items:
            type: string
          type: array
      type: object
    ConfluentSchemaRegistry:
      properties:
        endpoint:
          description: Required. The schema registry endpoint.
          type: string
        enableHttpAuth:
          description: Optional. Enable HTTP authentication.
          type: boolean
        userName:
          description: Optional. The username for HTTP authentication.
          type: string
        password:
          description: Optional. The password for HTTP authentication.
          type: string
      required:
      - endpoint
      type: object
    Connector:
      example:
        filter: "{}"
        checkpoint: "{}"
        createTime: 2000-01-23T04:56:07.000+00:00
        connectorId: connectorId
        sink: "{}"
        name: name
        updateTime: 2000-01-23T04:56:07.000+00:00
        clusterId: clusterId
        state: "{}"
        error: error
        startPosition: "{}"
      properties:
        clusterId:
          description: Required. The ID of the cluster.
          type: string
        connectorId:
          description: Output_only. The ID of the connector.
          readOnly: true
          type: string
        state:
          allOf:
          - $ref: '#/components/schemas/CDCState.Enum'
          description: |-
            Output_only. The state of the connector.

            Optional. The name of the connector.
          type: object
        name:
          description: Optional. The name of the connector.
          type: string
        sink:
          allOf:
          - $ref: '#/components/schemas/SinkInfo'
          description: Required. The sink of the connector.
          type: object
        filter:
          allOf:
          - $ref: '#/components/schemas/CDCFilter'
          description: Required. The filter of the connector.
          type: object
        startPosition:
          allOf:
          - $ref: '#/components/schemas/StartPosition'
          description: Required. The start position of the connector.
          type: object
        checkpoint:
          allOf:
          - $ref: '#/components/schemas/CDCCheckpoint'
          description: Output_only. The current checkpoint for the connector.
          type: object
        error:
          description: Output_only. The error message.
          readOnly: true
          type: string
        createTime:
          description: Output_only. Timestamp when the changefeed was created.
          format: date-time
          readOnly: true
          type: string
        updateTime:
          description: Output_only. Timestamp when the changefeed was updated.
          format: date-time
          nullable: true
          readOnly: true
          type: string
      required:
      - clusterId
      - filter
      - sink
      - startPosition
      type: object
    ConnectorID:
      example:
        connectorId: connectorId
        clusterId: clusterId
      properties:
        connectorId:
          description: Required. The ID of the connector.
          type: string
        clusterId:
          description: Required. The ID of the cluster.
          type: string
      required:
      - clusterId
      - connectorId
      type: object
    ConnectorService.CreateConnectorBody:
      properties:
        name:
          description: Optional. The name of the connector.
          type: string
        sink:
          allOf:
          - $ref: '#/components/schemas/SinkInfo'
          description: Required. The sink of the connector.
          type: object
        filter:
          allOf:
          - $ref: '#/components/schemas/CDCFilter'
          description: Required. The filter of the connector.
          type: object
        startPosition:
          allOf:
          - $ref: '#/components/schemas/StartPosition'
          description: Required. The start position of the connector.
          type: object
      required:
      - filter
      - sink
      type: object
    ConnectorService.CreatePrivateLinkEndpointBody:
      properties:
        endpointId:
          description: Output_only  The ID of the private link endpoint.
          readOnly: true
          type: string
        privateLinkServiceName:
          description: Required. The private link service name.
          type: string
        connectorType:
          allOf:
          - $ref: '#/components/schemas/ConnectorType.Enum'
          description: Required. The type of the sink.
          type: object
        state:
          allOf:
          - $ref: '#/components/schemas/PrivateLinkEndpointState.Enum'
          description: Output_only. The state of the private link.
          type: object
        kafka:
          allOf:
          - $ref: '#/components/schemas/KafkaEndpoint'
          description: Optional. Kafka private link endpoint information.
          type: object
        message:
          description: Output_only. The message.
          readOnly: true
          type: string
        endpointUrl:
          description: Output_only. The message.
          readOnly: true
          type: string
        createTime:
          description: Output_only. Timestamp when the private link endpoint was created.
          format: date-time
          readOnly: true
          type: string
        updateTime:
          description: Output_only. Timestamp when the private link endpoint was updated.
          format: date-time
          nullable: true
          readOnly: true
          type: string
      required:
      - connectorType
      - privateLinkServiceName
      type: object
    ConnectorService.DescribeSchemaTableBody:
      properties:
        filterRule:
          description: Optional. The filter rules for schema tables.
          items:
            type: string
          type: array
      type: object
    ConnectorService.EditConnectorBody:
      properties:
        name:
          description: Optional. The name of the connector.
          type: string
        sink:
          allOf:
          - $ref: '#/components/schemas/SinkInfo'
          description: Required. The sink of the connector.
          type: object
        filter:
          allOf:
          - $ref: '#/components/schemas/CDCFilter'
          description: Required. The filter of the connector.
          type: object
      required:
      - filter
      - sink
      type: object
    ConnectorService.StartConnectorBody:
      type: object
    ConnectorService.StopConnectorBody:
      type: object
    ConnectorService.TestConnectorBody:
      properties:
        sink:
          allOf:
          - $ref: '#/components/schemas/SinkInfo'
          description: Required. The sink of the connector.
          type: object
      required:
      - sink
      type: object
    ConnectorType.Enum:
      description: " - KAFKA: Kafka connector type."
      enum:
      - KAFKA
      type: string
    Connectors:
      example:
        connectors:
        - filter: "{}"
          checkpoint: "{}"
          createTime: 2000-01-23T04:56:07.000+00:00
          connectorId: connectorId
          sink: "{}"
          name: name
          updateTime: 2000-01-23T04:56:07.000+00:00
          clusterId: clusterId
          state: "{}"
          error: error
          startPosition: "{}"
        - filter: "{}"
          checkpoint: "{}"
          createTime: 2000-01-23T04:56:07.000+00:00
          connectorId: connectorId
          sink: "{}"
          name: name
          updateTime: 2000-01-23T04:56:07.000+00:00
          clusterId: clusterId
          state: "{}"
          error: error
          startPosition: "{}"
        totalSize: 0
        nextPageToken: nextPageToken
      properties:
        connectors:
          description: The list of connectors.
          items:
            $ref: '#/components/schemas/Connector'
          type: array
        nextPageToken:
          description: The token provided to retrieve the next page of results.
          type: string
        totalSize:
          description: The total number of connectors.
          format: int64
          type: integer
      type: object
    DataFormat:
      properties:
        protocol:
          $ref: '#/components/schemas/CDCProtocol.Enum'
        enableTidbExtension:
          title: only available when protocol is CANAL_JSON and AVRO
          type: boolean
        avroConfig:
          $ref: '#/components/schemas/AvroConfig'
      type: object
    DecimalHandlingMode.Enum:
      description: |2-
         - PRECISE: Precise handling mode for decimals.
         - STRING: String handling mode for decimals.
      enum:
      - PRECISE
      - STRING
      type: string
    DescribeSchemaTableResp:
      example:
        replicateAllowSchemaTable:
        - replicateAllowSchemaTable
        - replicateAllowSchemaTable
        gcSafePoint: 2000-01-23T04:56:07.000+00:00
        clusterId: clusterId
        replicateDenySchemaTable:
        - replicateDenySchemaTable
        - replicateDenySchemaTable
      properties:
        clusterId:
          description: Required. The ID of the cluster.
          type: string
        replicateAllowSchemaTable:
          description: Optional. The allowed schema tables to replicate.
          items:
            type: string
          type: array
        replicateDenySchemaTable:
          description: Optional. The denied schema tables to replicate.
          items:
            type: string
          type: array
        gcSafePoint:
          description: Optional. The GC safe point timestamp.
          format: date-time
          type: string
      required:
      - clusterId
      type: object
    EventFilterRule:
      properties:
        matcher:
          items:
            type: string
          type: array
        ignoreEvent:
          items:
            type: string
          type: array
      type: object
    GlueSchemaRegistry:
      properties:
        region:
          description: Required. The region of schema registry.
          type: string
        name:
          description: Required. The name of schema registry.
          type: string
        accessKeyId:
          description: Required. The AWS access key ID.
          type: string
        secretAccessKey:
          description: Required. The AWS secret access key.
          type: string
      required:
      - accessKeyId
      - name
      - region
      - secretAccessKey
      type: object
    KafkaAuthType.Enum:
      description: |2-
         - DISABLE: No authentication.
         - SASL_PLAIN: SASL/PLAIN authentication.
         - SASL_SCRAM_SHA_256: SASL/SCRAM-SHA-256 authentication.
         - SASL_SCRAM_SHA_512: SASL/SCRAM-SHA-512 authentication.
      enum:
      - DISABLE
      - SASL_PLAIN
      - SASL_SCRAM_SHA_256
      - SASL_SCRAM_SHA_512
      type: string
    KafkaCompressionType.Enum:
      enum:
      - NONE
      - GZIP
      - SNAPPY
      - LZ4
      - ZSTD
      type: string
    KafkaEndpoint:
      properties:
        kafkaType:
          allOf:
          - $ref: '#/components/schemas/KafkaType.Enum'
          description: Required. The type of the Kafka instance.
          type: object
        advertisedListenersPattern:
          additionalProperties:
            type: string
          description: Required. The advertised listeners pattern.
          type: object
      required:
      - advertisedListenersPattern
      - kafkaType
      type: object
    KafkaInfo:
      properties:
        networkInfo:
          $ref: '#/components/schemas/NetworkInfo'
        broker:
          $ref: '#/components/schemas/Broker'
        authentication:
          $ref: '#/components/schemas/Authentication'
        dataFormat:
          $ref: '#/components/schemas/DataFormat'
        topicPartitionConfig:
          $ref: '#/components/schemas/TopicPartitionConfig'
        columnSelectors:
          items:
            $ref: '#/components/schemas/ColumnSelector'
          type: array
      type: object
    KafkaNetworkType.Enum:
      description: |2-
         - PUBLIC: Public network.
         - PRIVATE_LINK: Private Link network.
      enum:
      - PUBLIC
      - PRIVATE_LINK
      type: string
    KafkaType.Enum:
      description: |2-
         - SELF_HOSTED: Self-hosted Kafka.
         - MSK: MSK (Managed Streaming for Kafka).
         - CONFLUENT: Confluent Kafka.
      enum:
      - SELF_HOSTED
      - MSK
      - CONFLUENT
      type: string
    KafkaVersion.Enum:
      description: |2-
         - VERSION_2XX: Kafka 2.x.x version.
         - VERSION_3XX: Kafka 3.x.x version.
      enum:
      - VERSION_2XX
      - VERSION_3XX
      type: string
    NetworkInfo:
      properties:
        networkType:
          $ref: '#/components/schemas/KafkaNetworkType.Enum'
        privateLinkServiceName:
          type: string
      type: object
    PartitionDispatcher.Enum:
      description: |2-
         - TABLE: Partition by table.
         - INDEX_VALUE: Partition by index value.
         - TS: Partition by timestamp.
         - COLUMNS: Partition by columns.
      enum:
      - TABLE
      - INDEX_VALUE
      - TS
      - COLUMNS
      type: string
    PartitionDispatcherConfig:
      properties:
        partitionType:
          $ref: '#/components/schemas/PartitionDispatcher.Enum'
        matcher:
          items:
            type: string
          type: array
        indexName:
          type: string
        columns:
          items:
            type: string
          type: array
      type: object
    PrivateLinkEndpoint:
      example:
        privateLinkServiceName: privateLinkServiceName
        connectorType: "{}"
        createTime: 2000-01-23T04:56:07.000+00:00
        endpointId: endpointId
        endpointUrl: endpointUrl
        kafka: "{}"
        updateTime: 2000-01-23T04:56:07.000+00:00
        clusterId: clusterId
        state: "{}"
        message: message
      properties:
        endpointId:
          description: Output_only  The ID of the private link endpoint.
          readOnly: true
          type: string
        clusterId:
          description: Required. The ID of the cluster.
          type: string
        privateLinkServiceName:
          description: Required. The private link service name.
          type: string
        connectorType:
          allOf:
          - $ref: '#/components/schemas/ConnectorType.Enum'
          description: Required. The type of the sink.
          type: object
        state:
          allOf:
          - $ref: '#/components/schemas/PrivateLinkEndpointState.Enum'
          description: Output_only. The state of the private link.
          type: object
        kafka:
          allOf:
          - $ref: '#/components/schemas/KafkaEndpoint'
          description: Optional. Kafka private link endpoint information.
          type: object
        message:
          description: Output_only. The message.
          readOnly: true
          type: string
        endpointUrl:
          description: Output_only. The message.
          readOnly: true
          type: string
        createTime:
          description: Output_only. Timestamp when the private link endpoint was created.
          format: date-time
          readOnly: true
          type: string
        updateTime:
          description: Output_only. Timestamp when the private link endpoint was updated.
          format: date-time
          nullable: true
          readOnly: true
          type: string
      required:
      - clusterId
      - connectorType
      - privateLinkServiceName
      type: object
    PrivateLinkEndpointState.Enum:
      description: |2-
         - PENDING_ACCEPTANCE: The private link endpoint is pending acceptance.
         - PENDING: The private link endpoint is pending.
         - AVAILABLE: The private link endpoint is available.
         - REJECTED: The private link endpoint is rejected.
         - EXPIRED: The private link endpoint is Expired.
         - FAILED: The private link endpoint is failed.
         - PARTIAL: The private link endpoint is partial.
         - DELETING: The private link endpoint is deleting.
      enum:
      - PENDING_ACCEPTANCE
      - PENDING
      - AVAILABLE
      - REJECTED
      - EXPIRED
      - FAILED
      - PARTIAL
      - DELETING
      type: string
    SinkInfo:
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/ConnectorType.Enum'
          description: Required. The type of the sink.
          type: object
        kafka:
          allOf:
          - $ref: '#/components/schemas/KafkaInfo'
          description: Optional. The Kafka sink information.
          type: object
      required:
      - type
      type: object
    StartMode.Enum:
      description: |2-
         - FROM_NOW: Start from now.
         - FROM_TSO: Start from TSO.
         - FROM_UTC: Start from UTC.
      enum:
      - FROM_NOW
      - FROM_TSO
      - FROM_UTC
      type: string
    StartPosition:
      properties:
        mode:
          $ref: '#/components/schemas/StartMode.Enum'
        tso:
          format: uint64
          type: string
        utc:
          type: string
      type: object
    Status:
      example:
        code: 6
        details:
        - '@type': '@type'
        - '@type': '@type'
        message: message
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
        details:
          items:
            $ref: '#/components/schemas/Any'
          type: array
      type: object
    TableMode.Enum:
      description: |2-
         - IGNORE_NOT_SUPPORT_TABLE: Ignore tables that are not supported.
         - FORCE_SYNC: Force synchronize all tables.
      enum:
      - IGNORE_NOT_SUPPORT_TABLE
      - FORCE_SYNC
      type: string
    TopicDispatchType.Enum:
      description: |2-
         - ONE_TOPIC: One topic for all data.
         - BY_TABLE: Dispatch by table.
         - BY_DATABASE: Dispatch by database.
      enum:
      - ONE_TOPIC
      - BY_TABLE
      - BY_DATABASE
      type: string
    TopicPartitionConfig:
      properties:
        dispatchType:
          $ref: '#/components/schemas/TopicDispatchType.Enum'
        defaultTopic:
          type: string
        topicPrefix:
          type: string
        separator:
          type: string
        topicSuffix:
          type: string
        replicationFactor:
          format: int64
          type: integer
        partitionNum:
          format: int64
          type: integer
        partitionDispatchers:
          items:
            $ref: '#/components/schemas/PartitionDispatcherConfig'
          type: array
      type: object
    ConnectorService_ListConnectors_connectorType_parameter:
      enum:
      - KAFKA
      type: string
x-original-swagger-version: "2.0"
