{
  "swagger": "2.0",
  "info": {
    "title": "TiDB Cloud Serverless Export Open API",
    "description": "TiDB Cloud Serverless Export Open API",
    "version": "v1beta1"
  },
  "tags": [
    {
      "name": "ExportService"
    }
  ],
  "host": "serverless.tidbapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1beta1/clusters/{clusterId}/exports": {
      "get": {
        "summary": "Provides a list of export jobs.",
        "operationId": "ExportService_ListExports",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1beta1ListExportsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The cluster ID to list exports for.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageSize",
            "description": "Optional. The maximum number of clusters to return.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageToken",
            "description": "Optional. The page token from the previous response for pagination.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ExportService"
        ]
      },
      "post": {
        "summary": "Create an export job",
        "operationId": "ExportService_CreateExport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1beta1Export"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object",
              "properties": {
                "exportOptions": {
                  "$ref": "#/definitions/v1beta1ExportOptions",
                  "description": "Optional. The options of the export."
                },
                "target": {
                  "$ref": "#/definitions/v1beta1Target",
                  "description": "Optional. The target of the export."
                }
              }
            }
          }
        ],
        "tags": [
          "ExportService"
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/exports/{exportId}": {
      "get": {
        "summary": "Retrieves details of an export job.",
        "operationId": "ExportService_GetExport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1beta1Export"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "exportId",
            "description": "Required. The ID of the export to be retrieved.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ExportService"
        ]
      },
      "delete": {
        "summary": "Delete an export job",
        "operationId": "ExportService_DeleteExport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1beta1Export"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "exportId",
            "description": "Required. The ID of the export to be retrieved.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ExportService"
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/exports/{exportId}:cancel": {
      "post": {
        "summary": "Cancel a specific export job.",
        "operationId": "ExportService_CancelExport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1beta1Export"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "exportId",
            "description": "Required. The ID of the export to be retrieved.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "tags": [
          "ExportService"
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/exports/{exportId}:download": {
      "post": {
        "summary": "Generate download url",
        "operationId": "ExportService_DownloadExport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/v1beta1DownloadExportsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/rpcStatus"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "exportId",
            "description": "Required. The ID of the export to be retrieved.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "type": "object"
            }
          }
        ],
        "tags": [
          "ExportService"
        ]
      }
    }
  },
  "definitions": {
    "ExportOptionsCompressionType": {
      "type": "string",
      "enum": [
        "GZIP",
        "SNAPPY",
        "ZSTD",
        "NONE"
      ],
      "description": " - Compression_UNSPECIFIED: The type of the compression is unknown."
    },
    "S3TargetAccessKey": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "Optional. The access key id of the s3."
        },
        "secret": {
          "type": "string",
          "description": "Optional. The secret access key of the s3."
        }
      }
    },
    "TargetS3Target": {
      "type": "object",
      "properties": {
        "bucketUri": {
          "type": "string",
          "description": "Optional. The bucket URI of the s3."
        },
        "uri": {
          "type": "string",
          "description": "Optional. The uri of the s3 bucket."
        },
        "accessKey": {
          "$ref": "#/definitions/S3TargetAccessKey",
          "description": "Optional. The access_key of the s3."
        }
      }
    },
    "TargetTargetType": {
      "type": "string",
      "enum": [
        "LOCAL",
        "S3"
      ],
      "description": " - TARGET_UNSPECIFIED: The target of the export is unknown.\n - LOCAL: Local target.\n - S3: S3 target."
    },
    "protobufAny": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "rpcStatus": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/protobufAny"
          }
        }
      }
    },
    "v1beta1DownloadExportsResponse": {
      "type": "object",
      "properties": {
        "downloads": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1beta1DownloadUrl"
          },
          "description": "The download urls of the export."
        }
      }
    },
    "v1beta1DownloadUrl": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the download file."
        },
        "url": {
          "type": "string",
          "description": "The download url."
        },
        "size": {
          "type": "integer",
          "format": "int64",
          "description": "The size in bytes of the the download file."
        }
      }
    },
    "v1beta1Export": {
      "type": "object",
      "properties": {
        "exportId": {
          "type": "string",
          "description": "Output_only. The unique ID of the export.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output_only. The unique name of the export.",
          "readOnly": true
        },
        "clusterId": {
          "type": "string",
          "description": "Required. The cluster ID that export belong to."
        },
        "createdBy": {
          "type": "string",
          "description": "Output_only. The creator of the export.",
          "readOnly": true
        },
        "state": {
          "$ref": "#/definitions/v1beta1ExportState",
          "description": "Output_only. The state of the export.",
          "readOnly": true
        },
        "exportOptions": {
          "$ref": "#/definitions/v1beta1ExportOptions",
          "description": "Optional. The options of the export."
        },
        "target": {
          "$ref": "#/definitions/v1beta1Target",
          "description": "Optional. The target of the export."
        },
        "reason": {
          "type": "string",
          "x-nullable": true,
          "description": "Optional. The failed reason of the export."
        },
        "createTime": {
          "type": "string",
          "format": "date-time",
          "description": "Output_only. Timestamp when the export was created.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "description": "Output_only. Timestamp when the export was updated.",
          "readOnly": true
        },
        "completeTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "description": "Output_only. Timestamp when the export was completed.",
          "readOnly": true
        },
        "snapshotTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "description": "OUTPUT_ONLY. Snapshot time of the export.",
          "readOnly": true
        },
        "expireTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "description": "OUTPUT_ONLY. Expire time of the export.",
          "readOnly": true
        }
      },
      "description": "Message for export resource.",
      "required": [
        "clusterId"
      ]
    },
    "v1beta1ExportOptions": {
      "type": "object",
      "properties": {
        "fileType": {
          "$ref": "#/definitions/v1beta1ExportOptionsFileType",
          "description": "Optional. The exported file type."
        },
        "database": {
          "type": "string",
          "description": "Optional. The specify database of the export."
        },
        "table": {
          "type": "string",
          "description": "Optional. The specify table of the export."
        },
        "compression": {
          "$ref": "#/definitions/ExportOptionsCompressionType",
          "description": "Optional. The compression of the export."
        }
      }
    },
    "v1beta1ExportOptionsFileType": {
      "type": "string",
      "enum": [
        "SQL",
        "CSV"
      ],
      "description": " - TYPE_UNSPECIFIED: The type of the file is unknown.\n - SQL: SQL type.\n - CSV: CSV type."
    },
    "v1beta1ExportState": {
      "type": "string",
      "enum": [
        "RUNNING",
        "SUCCEEDED",
        "FAILED",
        "CANCELED",
        "DELETED"
      ],
      "description": "Output Only. Export State.\n\n - STATE_UNSPECIFIED: The state of the export is unknown.\n - RUNNING: The export job is being created.\n - SUCCEEDED: The export job is success.\n - FAILED: The export job is failed.\n - CANCELED: The export job is canceled.\n - DELETED: The export job is deleted."
    },
    "v1beta1ListExportsResponse": {
      "type": "object",
      "properties": {
        "exports": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/v1beta1Export"
          },
          "description": "A list of exports."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token provided to retrieve the next page of results."
        },
        "totalSize": {
          "type": "integer",
          "format": "int64",
          "description": "Total number of backups."
        }
      }
    },
    "v1beta1Target": {
      "type": "object",
      "properties": {
        "type": {
          "$ref": "#/definitions/TargetTargetType",
          "description": "Optional. The exported file type."
        },
        "s3": {
          "$ref": "#/definitions/TargetS3Target",
          "x-nullable": true,
          "description": "Optional. The s3 information."
        }
      }
    }
  }
}
