{
  "swagger": "2.0",
  "info": {
    "title": "TiDB Cloud Serverless Database Audit Logging Open API",
    "description": "TiDB Cloud Serverless Database Audit Logging Open API",
    "version": "v1beta1"
  },
  "tags": [
    {
      "name": "AuditLogService"
    }
  ],
  "host": "serverless.tidbapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1beta1/clusters/{clusterId}/auditlogs": {
      "get": {
        "summary": "List database audit logs.",
        "operationId": "AuditLogService_ListAuditLogs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListAuditLogsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "date",
            "description": "Optional. The UTC date of the audit logs in the format of `YYYY-MM-DD` (e.g. 2025-01-01).",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "description": "Optional. The maximum number to return, default is 100, and the maximum is 1000.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageToken",
            "description": "Optional. The page token from the previous response for pagination.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "AuditLogService"
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/auditlogs:download": {
      "post": {
        "summary": "Generate audit logs download url",
        "operationId": "AuditLogService_DownloadAuditLogs",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DownloadAuditLogsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AuditLogService.DownloadAuditLogsBody"
            }
          }
        ],
        "tags": [
          "AuditLogService"
        ]
      }
    }
  },
  "definitions": {
    "Any": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "AuditLog": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the audit log."
        },
        "size": {
          "type": "integer",
          "format": "int64",
          "description": "The size in bytes of the audit log."
        },
        "url": {
          "type": "string",
          "description": "download url of the audit log."
        }
      }
    },
    "AuditLogService.DownloadAuditLogsBody": {
      "type": "object",
      "properties": {
        "auditLogNames": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Required. The name of the audit logs to download. Up to 100 audit logs can be downloaded at the same time."
        }
      },
      "required": [
        "auditLogNames"
      ]
    },
    "DownloadAuditLogsResponse": {
      "type": "object",
      "properties": {
        "auditLogs": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/AuditLog"
          },
          "description": "The audit logs with the download url."
        }
      }
    },
    "ListAuditLogsResponse": {
      "type": "object",
      "properties": {
        "auditLogs": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/AuditLog"
          },
          "description": "The audit logs without the download url."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token provided to retrieve the next page of results."
        }
      }
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/Any"
          }
        }
      }
    }
  }
}
