{
  "swagger": "2.0",
  "info": {
    "title": "TiDB Cloud Starter and Essential API",
    "description": "TiDB Cloud Starter and Essential API",
    "version": "v1beta1"
  },
  "tags": [
    {
      "name": "MigrationService"
    }
  ],
  "host": "serverless.tidbapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1beta1/clusters/{clusterId}/migrations": {
      "get": {
        "summary": "List migration tasks",
        "operationId": "MigrationService_ListTasks",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListMigrationTasksResp"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "The ID of the cluster to list tasks for.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageToken",
            "description": "Optional. The page token, default is empty.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "pageSize",
            "description": "Optional. The page size, default is 10.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32",
            "default": 10
          },
          {
            "name": "orderBy",
            "description": "Specifies the sorting order of results. Use a comma-separated list of field names, optionally appending `desc` for descending order. For example, `createTime desc`. By default, fields are sorted in ascending order.\n\nSupported field: `createTime`.",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "Migration"
        ],
        "x-codeSamples": [
          {
            "label": "curl",
            "lang": "cURL",
            "source": "curl --location 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/migrations' \\\n+--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n+--header 'Accept: application/json'"
          }
        ]
      },
      "post": {
        "summary": "Create a migration task",
        "operationId": "MigrationService_CreateTask",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/MigrationTask"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "The ID of the cluster to create the migration task in.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrationService.CreateTaskBody"
            }
          }
        ],
        "tags": [
          "Migration"
        ],
        "x-codeSamples": [
          {
            "label": "curl",
            "lang": "cURL",
            "source": "curl --location 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/migrations' \\\n+--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n+--header 'Content-Type: application/json' \\\n+--header 'Accept: application/json' \\\n+--data '{\\n  \"name\": \"my-migration\",\\n  \"sources\": [\\n    {\\n      \"connProfile\": {\\n        \"connType\": \"PUBLIC\",\\n        \"host\": \"1.2.3.4\",\\n        \"port\": 3306,\\n        \"user\": \"root\",\\n        \"password\": \"secret\"\\n      },\\n      \"sourceType\": \"SOURCE_TYPE_MYSQL\"\\n    }\\n  ],\\n  \"target\": {\\n    \"user\": \"tidb\",\\n    \"password\": \"tidb_password\"\\n  },\\n  \"mode\": \"MODE_ALL\",\\n  \"fullDataMigration\": true\\n}'"
          }
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/migrations/{id}": {
      "get": {
        "summary": "Get a migration task",
        "operationId": "MigrationService_GetTask",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/MigrationTask"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "The ID of the migration task.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Migration"
        ],
        "x-codeSamples": [
          {
            "label": "curl",
            "lang": "cURL",
            "source": "curl --location 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/migrations/{id}' \\\n+--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n+--header 'Accept: application/json'"
          }
        ]
      },
      "delete": {
        "summary": "Cancel a migration task",
        "operationId": "MigrationService_CancelTask",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/MigrationTask"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "The ID of the migration task to cancel.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Migration"
        ],
        "x-codeSamples": [
          {
            "label": "curl",
            "lang": "cURL",
            "source": "curl --location --request DELETE 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/migrations/{id}' \\\n+--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n+--header 'Accept: application/json'"
          }
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/migrations/{id}:pause": {
      "post": {
        "summary": "Pause a running migration task",
        "operationId": "MigrationService_PauseTask",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "The ID of the migration task to pause.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrationService.PauseTaskBody"
            }
          }
        ],
        "tags": [
          "Migration"
        ],
        "x-codeSamples": [
          {
            "label": "curl",
            "lang": "cURL",
            "source": "curl --location --request POST 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/migrations/{id}:pause' \\\n+--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n+--header 'Content-Type: application/json' \\\n+--header 'Accept: application/json' \\\n+--data '{}'"
          }
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/migrations/{id}:resume": {
      "post": {
        "summary": "Resume a paused migration task",
        "operationId": "MigrationService_ResumeTask",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "The ID of the migration task to resume.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrationService.ResumeTaskBody"
            }
          }
        ],
        "tags": [
          "Migration"
        ],
        "x-codeSamples": [
          {
            "label": "curl",
            "lang": "cURL",
            "source": "curl --location --request POST 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/migrations/{id}:resume' \\\n+--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n+--header 'Content-Type: application/json' \\\n+--header 'Accept: application/json' \\\n+--data '{}'"
          }
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/migrationPrechecks": {
      "post": {
        "summary": "Run a precheck for a migration task",
        "operationId": "MigrationService_Precheck",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/CreateMigrationPrecheckResp"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "The ID of the cluster to create the migration task in.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/MigrationService.PrecheckBody"
            }
          }
        ],
        "tags": [
          "Migration"
        ],
        "x-codeSamples": [
          {
            "label": "curl",
            "lang": "cURL",
            "source": "curl --location 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/migrationPrechecks' \\\n+--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n+--header 'Content-Type: application/json' \\\n+--header 'Accept: application/json' \\\n+--data '{\\n  \"name\": \"my-migration\",\\n  \"sources\": [\\n    {\\n      \"connProfile\": {\\n        \"connType\": \"PUBLIC\",\\n        \"host\": \"1.2.3.4\",\\n        \"port\": 3306,\\n        \"user\": \"root\",\\n        \"password\": \"secret\"\\n      },\\n      \"sourceType\": \"SOURCE_TYPE_MYSQL\"\\n    }\\n  ],\\n  \"target\": {\\n    \"user\": \"tidb\",\\n    \"password\": \"tidb_password\"\\n  },\\n  \"mode\": \"MODE_ALL\",\\n  \"fullDataMigration\": true\\n}'"
          }
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/migrationPrechecks/{id}": {
      "get": {
        "summary": "Get a migration precheck",
        "operationId": "MigrationService_GetPrecheck",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/MigrationPrecheck"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "The ID of the precheck.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Migration"
        ],
        "x-codeSamples": [
          {
            "label": "curl",
            "lang": "cURL",
            "source": "curl --location 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/migrationPrechecks/{id}' \\\n+--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n+--header 'Accept: application/json'"
          }
        ]
      },
      "delete": {
        "summary": "Cancel a migration precheck",
        "operationId": "MigrationService_CancelPrecheck",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "type": "object",
              "properties": {}
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "id",
            "description": "The ID of the precheck to cancel.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "Migration"
        ],
        "x-codeSamples": [
          {
            "label": "curl",
            "lang": "cURL",
            "source": "curl --location --request DELETE 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/migrationPrechecks/{id}' \\\n+--digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \\\n+--header 'Accept: application/json'"
          }
        ]
      }
    }
  },
  "definitions": {
    "Any": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "BlockAllowRules": {
      "type": "object",
      "properties": {
        "doDbs": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Database names to include in migration."
        },
        "doTables": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/BlockAllowRules.Table"
          },
          "description": "Table-level allow-list rules."
        }
      }
    },
    "BlockAllowRules.Table": {
      "type": "object",
      "properties": {
        "schema": {
          "type": "string",
          "description": "Schema name."
        },
        "table": {
          "type": "string",
          "description": "Table name."
        }
      }
    },
    "ConnProfile": {
      "type": "object",
      "properties": {
        "connType": {
          "description": "Connection type (e.g., PUBLIC, PRIVATE_LINK).",
          "allOf": [
            {
              "$ref": "#/definitions/ConnType"
            }
          ]
        },
        "endpointId": {
          "type": "string",
          "description": "Private link endpoint ID."
        },
        "host": {
          "type": "string",
          "description": "Source host."
        },
        "port": {
          "type": "integer",
          "format": "int32",
          "description": "Source port."
        },
        "user": {
          "type": "string",
          "description": "Source user."
        },
        "password": {
          "type": "string",
          "description": "Source password."
        },
        "security": {
          "description": "TLS/SSL settings; if not set, use defaults.",
          "allOf": [
            {
              "$ref": "#/definitions/Security"
            }
          ]
        }
      },
      "required": [
        "port",
        "user",
        "password"
      ]
    },
    "ConnType": {
      "type": "string",
      "enum": [
        "PUBLIC",
        "PRIVATE_LINK"
      ],
      "description": "The connection type used to connect to the source database.\n\n - PUBLIC: Connect over the public internet.\n - PRIVATE_LINK: Connect via Private Link/Private Endpoint."
    },
    "CreateMigrationPrecheckResp": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The ID of the created precheck.",
          "readOnly": true
        }
      }
    },
    "DumpDetail": {
      "type": "object",
      "properties": {
        "bps": {
          "type": "string",
          "format": "int64",
          "description": "Bytes per second processed during dump.",
          "readOnly": true
        },
        "progress": {
          "type": "number",
          "format": "double",
          "description": "Progress of dump phase (0-100).",
          "readOnly": true
        },
        "totalTables": {
          "type": "string",
          "format": "int64",
          "description": "Total number of tables to dump.",
          "readOnly": true
        },
        "completedTables": {
          "type": "string",
          "format": "int64",
          "description": "Number of tables completed dumping.",
          "readOnly": true
        },
        "finishedBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total bytes finished dumping.",
          "readOnly": true
        },
        "finishedRows": {
          "type": "string",
          "format": "int64",
          "description": "Total rows finished dumping.",
          "readOnly": true
        }
      }
    },
    "ListMigrationTasksResp": {
      "type": "object",
      "properties": {
        "tasks": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/MigrationTask"
          },
          "description": "The list of migration tasks.",
          "readOnly": true
        },
        "totalSize": {
          "type": "integer",
          "format": "int64",
          "description": "The total number of tasks matching the query.",
          "readOnly": true
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token to retrieve the next page of results.",
          "readOnly": true
        }
      }
    },
    "LoadDetail": {
      "type": "object",
      "properties": {
        "bps": {
          "type": "string",
          "format": "int64",
          "description": "Bytes per second processed during load.",
          "readOnly": true
        },
        "progress": {
          "type": "number",
          "format": "double",
          "description": "Progress of load phase (0-100).",
          "readOnly": true
        },
        "finishedBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total bytes finished loading.",
          "readOnly": true
        },
        "totalBytes": {
          "type": "string",
          "format": "int64",
          "description": "Total bytes to load.",
          "readOnly": true
        }
      }
    },
    "MigrationPrecheck": {
      "type": "object",
      "properties": {
        "total": {
          "type": "integer",
          "format": "int32",
          "description": "Total number of precheck items.",
          "readOnly": true
        },
        "failedCnt": {
          "type": "integer",
          "format": "int32",
          "description": "Number of failed items.",
          "readOnly": true
        },
        "warnCnt": {
          "type": "integer",
          "format": "int32",
          "description": "Number of items with warnings.",
          "readOnly": true
        },
        "successCnt": {
          "type": "integer",
          "format": "int32",
          "description": "Number of successful items.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Overall status of the precheck.",
          "readOnly": true
        },
        "items": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/PrecheckItem"
          },
          "description": "Details for each precheck item.",
          "readOnly": true
        }
      }
    },
    "MigrationService.CreateTaskBody": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The display name of the migration task."
        },
        "sources": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/Source"
          },
          "description": "The data sources to migrate from."
        },
        "target": {
          "description": "The target database credentials.",
          "allOf": [
            {
              "$ref": "#/definitions/Target"
            }
          ]
        },
        "mode": {
          "description": "The migration mode (full+incremental or incremental-only).",
          "allOf": [
            {
              "$ref": "#/definitions/TaskMode"
            }
          ]
        },
        "fullDataMigration": {
          "type": "boolean",
          "description": "If true, migrate all user data (equivalent to enabling all non-system databases and tables)."
        }
      },
      "required": [
        "sources"
      ]
    },
    "MigrationService.PauseTaskBody": {
      "type": "object",
      "title": "PauseMigrationTaskReq is used to pause a migration task"
    },
    "MigrationService.PrecheckBody": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The display name of the migration task."
        },
        "sources": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/Source"
          },
          "description": "The data sources to migrate from."
        },
        "target": {
          "description": "The target database credentials.",
          "allOf": [
            {
              "$ref": "#/definitions/Target"
            }
          ]
        },
        "mode": {
          "description": "The migration mode (full+incremental or incremental-only).",
          "allOf": [
            {
              "$ref": "#/definitions/TaskMode"
            }
          ]
        },
        "fullDataMigration": {
          "type": "boolean",
          "description": "If true, migrate all user data (equivalent to enabling all non-system databases and tables)."
        }
      },
      "required": [
        "sources"
      ]
    },
    "MigrationService.ResumeTaskBody": {
      "type": "object",
      "title": "ResumeMigrationTaskReq is used to resume a paused migration task"
    },
    "MigrationTask": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The unique ID of the migration task.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "The display name of the migration task."
        },
        "subTasks": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/SubTask"
          },
          "description": "The list of subtasks composing this migration.",
          "readOnly": true
        },
        "targetUser": {
          "type": "string",
          "description": "The target database username used by the task.",
          "readOnly": true
        },
        "createTime": {
          "type": "string",
          "format": "date-time",
          "description": "The timestamp when the task was created.",
          "readOnly": true
        },
        "mode": {
          "description": "The migration mode of the task.",
          "allOf": [
            {
              "$ref": "#/definitions/TaskMode"
            }
          ]
        },
        "state": {
          "description": "The current state of the task.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/MigrationTask.State"
            }
          ]
        }
      }
    },
    "MigrationTask.State": {
      "type": "string",
      "enum": [
        "CREATING",
        "RUNNING",
        "PAUSED",
        "CANCELED",
        "FAILED"
      ],
      "description": "Overall state of a migration task.\n\n - CREATING: Task is being created.\n - RUNNING: Task is actively running.\n - PAUSED: Task is paused.\n - CANCELED: Task has been canceled.\n - FAILED: Task failed with error."
    },
    "PrecheckItem": {
      "type": "object",
      "properties": {
        "desc": {
          "type": "string",
          "description": "Human-readable description of the check.",
          "readOnly": true
        },
        "status": {
          "type": "string",
          "description": "Status of this check (e.g., SUCCESS, FAILED, WARN).",
          "readOnly": true
        },
        "solution": {
          "type": "string",
          "description": "Suggested solution if the check failed or warned.",
          "readOnly": true
        },
        "reason": {
          "type": "string",
          "description": "Reason for the failure or warning.",
          "readOnly": true
        },
        "solutionDocUrl": {
          "type": "string",
          "description": "Documentation URL for the solution.",
          "readOnly": true
        },
        "type": {
          "description": "The type of precheck.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/PrecheckItemType"
            }
          ]
        }
      }
    },
    "PrecheckItemType": {
      "type": "string",
      "enum": [
        "PRECHECK_ITEM_TYPE_DUMP_PRIVILEGE_CHECKING",
        "PRECHECK_ITEM_TYPE_REPLICATION_PRIVILEGE_CHECKING",
        "PRECHECK_ITEM_TYPE_VERSION_CHECKING",
        "PRECHECK_ITEM_TYPE_SERVER_ID_CHECKING",
        "PRECHECK_ITEM_TYPE_BINLOG_ENABLE_CHECKING",
        "PRECHECK_ITEM_TYPE_BINLOG_FORMAT_CHECKING",
        "PRECHECK_ITEM_TYPE_BINLOG_ROW_IMAGE_CHECKING",
        "PRECHECK_ITEM_TYPE_TABLE_SCHEMA_CHECKING",
        "PRECHECK_ITEM_TYPE_BINLOG_DB_CHECKING",
        "PRECHECK_ITEM_TYPE_CONN_NUMBER_CHECKING",
        "PRECHECK_ITEM_TYPE_TARGET_DB_PRIVILEGE_CHECKING",
        "PRECHECK_ITEM_TYPE_META_POSITION_CHECKING",
        "PRECHECK_ITEM_TYPE_LIGHTNING_TABLE_EMPTY_CHECKING",
        "PRECHECK_ITEM_TYPE_PRIMARY_KEY_CHECKING"
      ],
      "description": "Types of prechecks performed before starting a migration.\n\n - PRECHECK_ITEM_TYPE_DUMP_PRIVILEGE_CHECKING: Check source has required dump/export privileges.\n - PRECHECK_ITEM_TYPE_REPLICATION_PRIVILEGE_CHECKING: Check source has required replication privileges.\n - PRECHECK_ITEM_TYPE_VERSION_CHECKING: Check source database version compatibility.\n - PRECHECK_ITEM_TYPE_SERVER_ID_CHECKING: Check source server_id configuration.\n - PRECHECK_ITEM_TYPE_BINLOG_ENABLE_CHECKING: Check whether binlog is enabled on source.\n - PRECHECK_ITEM_TYPE_BINLOG_FORMAT_CHECKING: Check binlog format (e.g., ROW) on source.\n - PRECHECK_ITEM_TYPE_BINLOG_ROW_IMAGE_CHECKING: Check binlog row image setting.\n - PRECHECK_ITEM_TYPE_TABLE_SCHEMA_CHECKING: Check table/schema compatibility with target.\n - PRECHECK_ITEM_TYPE_BINLOG_DB_CHECKING: Check binlog database-level filtering configuration.\n - PRECHECK_ITEM_TYPE_CONN_NUMBER_CHECKING: Check concurrent connections limit/availability.\n - PRECHECK_ITEM_TYPE_TARGET_DB_PRIVILEGE_CHECKING: Check target database privileges.\n - PRECHECK_ITEM_TYPE_META_POSITION_CHECKING: Check saved meta/binlog position validity.\n - PRECHECK_ITEM_TYPE_LIGHTNING_TABLE_EMPTY_CHECKING: Check target tables are empty for Lightning load.\n - PRECHECK_ITEM_TYPE_PRIMARY_KEY_CHECKING: Check primary key settings on source tables."
    },
    "RouteRule": {
      "type": "object",
      "properties": {
        "sourceTable": {
          "description": "Source table pattern to match.",
          "allOf": [
            {
              "$ref": "#/definitions/RouteRule.Source"
            }
          ]
        },
        "targetTable": {
          "description": "Target table to route to.",
          "allOf": [
            {
              "$ref": "#/definitions/RouteRule.Target"
            }
          ]
        }
      }
    },
    "RouteRule.Source": {
      "type": "object",
      "properties": {
        "schemaPattern": {
          "type": "string",
          "description": "Schema pattern of the source, supports wildcards."
        },
        "tablePattern": {
          "type": "string",
          "description": "Table pattern of the source, supports wildcards."
        }
      }
    },
    "RouteRule.Target": {
      "type": "object",
      "properties": {
        "schema": {
          "type": "string",
          "description": "Target schema name."
        },
        "table": {
          "type": "string",
          "description": "Target table name."
        }
      }
    },
    "Security": {
      "type": "object",
      "properties": {
        "certAllowedCn": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Allowed certificate Common Names."
        },
        "sslCaContent": {
          "type": "string",
          "format": "byte",
          "description": "CA certificate content in PEM."
        },
        "sslCertContent": {
          "type": "string",
          "format": "byte",
          "description": "Client certificate content in PEM."
        },
        "sslKeyContent": {
          "type": "string",
          "format": "byte",
          "description": "Client private key in PEM."
        }
      }
    },
    "Source": {
      "type": "object",
      "properties": {
        "connProfile": {
          "description": "Connection profile for the source database.",
          "allOf": [
            {
              "$ref": "#/definitions/ConnProfile"
            }
          ]
        },
        "baRules": {
          "description": "Block/allow rules for databases and tables, which is exclusive with route_rules.",
          "allOf": [
            {
              "$ref": "#/definitions/BlockAllowRules"
            }
          ]
        },
        "routeRules": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/RouteRule"
          },
          "description": "Table route rules\uff0cwhich is exclusive with ba_rules."
        },
        "binlogName": {
          "type": "string",
          "x-nullable": true,
          "description": "Starting binlog file name for incremental sync."
        },
        "binlogPos": {
          "type": "integer",
          "format": "int32",
          "x-nullable": true,
          "description": "Starting binlog position for incremental sync."
        },
        "binlogGtid": {
          "type": "string",
          "x-nullable": true,
          "description": "Starting GTID set for incremental sync."
        },
        "sourceType": {
          "description": "Source type (e.g., MySQL).",
          "allOf": [
            {
              "$ref": "#/definitions/Source.SourceType"
            }
          ]
        }
      },
      "required": [
        "connProfile",
        "sourceType"
      ]
    },
    "Source.SourceType": {
      "type": "string",
      "enum": [
        "SOURCE_TYPE_MYSQL",
        "SOURCE_TYPE_ALICLOUD_RDS_MYSQL"
      ],
      "description": "The source database type.\n\n - SOURCE_TYPE_MYSQL: Self-managed MySQL.\n - SOURCE_TYPE_ALICLOUD_RDS_MYSQL: Alibaba Cloud RDS for MySQL."
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/Any"
          }
        }
      }
    },
    "SubTask": {
      "type": "object",
      "properties": {
        "source": {
          "description": "Source configuration for this subtask.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/Source"
            }
          ]
        },
        "currentStep": {
          "description": "Current step of the subtask.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/SubTask.Step"
            }
          ]
        },
        "stage": {
          "description": "Current stage of the subtask.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/SubTask.Stage"
            }
          ]
        },
        "dumpDetail": {
          "description": "Detail of dump phase, if applicable.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/DumpDetail"
            }
          ]
        },
        "loadDetail": {
          "description": "Detail of load phase, if applicable.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/LoadDetail"
            }
          ]
        },
        "syncDetail": {
          "description": "Detail of sync phase, if applicable.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/SyncDetail"
            }
          ]
        },
        "errorMsg": {
          "type": "string",
          "x-nullable": true,
          "description": "Error message when the subtask fails.",
          "readOnly": true
        }
      }
    },
    "SubTask.Stage": {
      "type": "string",
      "enum": [
        "STAGE_RUNNING",
        "STAGE_PAUSED",
        "STAGE_FAILED",
        "STAGE_FINISHED",
        "STAGE_UNKNOWN"
      ],
      "description": "The high-level lifecycle stage of a subtask.\n\n - STAGE_RUNNING: Subtask is running.\n - STAGE_PAUSED: Subtask is paused.\n - STAGE_FAILED: Subtask failed.\n - STAGE_FINISHED: Subtask finished successfully.\n - STAGE_UNKNOWN: Subtask stage is unknown."
    },
    "SubTask.Step": {
      "type": "string",
      "enum": [
        "STEP_DUMP",
        "STEP_LOAD",
        "STEP_SYNC"
      ],
      "description": "The current step within a subtask.\n\n - STEP_DUMP: Dump/export data from source.\n - STEP_LOAD: Load/import data into target.\n - STEP_SYNC: Sync/replicate binlog changes."
    },
    "SyncDetail": {
      "type": "object",
      "properties": {
        "rps": {
          "type": "string",
          "format": "int64",
          "description": "Rows processed per second during sync.",
          "readOnly": true
        },
        "latency": {
          "type": "string",
          "format": "int64",
          "description": "Replication latency in seconds.",
          "readOnly": true
        },
        "checkpoint": {
          "type": "string",
          "description": "Synchronization checkpoint.",
          "readOnly": true
        }
      }
    },
    "Target": {
      "type": "object",
      "properties": {
        "user": {
          "type": "string",
          "description": "Target database user."
        },
        "password": {
          "type": "string",
          "description": "Target database password."
        }
      }
    },
    "TaskMode": {
      "type": "string",
      "enum": [
        "MODE_ALL",
        "MODE_INCREMENTAL"
      ],
      "description": "Migration task mode.\n\n - MODE_ALL: Full + incremental migration (all phases).\n - MODE_INCREMENTAL: Incremental-only migration (replication)."
    }
  }
}
