{
  "swagger": "2.0",
  "info": {
    "title": "TiDB Cloud Serverless Export Open API",
    "description": "TiDB Cloud Serverless Export Open API",
    "version": "v1beta1"
  },
  "tags": [
    {
      "name": "ExportService"
    }
  ],
  "host": "serverless.tidbapi.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "paths": {
    "/v1beta1/clusters/{clusterId}/exports": {
      "get": {
        "summary": "Provides a list of export jobs.",
        "operationId": "ExportService_ListExports",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/ListExportsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The cluster ID to list exports for.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "pageSize",
            "description": "Optional. The maximum number of clusters to return. Default is 10.",
            "in": "query",
            "required": false,
            "type": "integer",
            "format": "int32"
          },
          {
            "name": "pageToken",
            "description": "Optional. The page token from the previous response for pagination.",
            "in": "query",
            "required": false,
            "type": "string"
          },
          {
            "name": "orderBy",
            "description": "Optional. List exports order by, separated by comma, default is ascending. Example: \"foo, bar desc\". Supported field: create_time",
            "in": "query",
            "required": false,
            "type": "string"
          }
        ],
        "tags": [
          "ExportService"
        ]
      },
      "post": {
        "summary": "Create an export job",
        "operationId": "ExportService_CreateExport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportService.CreateExportBody"
            }
          }
        ],
        "tags": [
          "ExportService"
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/exports/{exportId}": {
      "get": {
        "summary": "Retrieves details of an export job.",
        "operationId": "ExportService_GetExport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "exportId",
            "description": "Required. The ID of the export to be retrieved.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ExportService"
        ]
      },
      "delete": {
        "summary": "Delete an export job",
        "operationId": "ExportService_DeleteExport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "exportId",
            "description": "Required. The ID of the export to be retrieved.",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "tags": [
          "ExportService"
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/exports/{exportId}:cancel": {
      "post": {
        "summary": "Cancel a specific export job.",
        "operationId": "ExportService_CancelExport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/Export"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "exportId",
            "description": "Required. The ID of the export to be retrieved.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportService.CancelExportBody"
            }
          }
        ],
        "tags": [
          "ExportService"
        ]
      }
    },
    "/v1beta1/clusters/{clusterId}/exports/{exportId}:download": {
      "post": {
        "summary": "Generate download url",
        "operationId": "ExportService_DownloadExport",
        "responses": {
          "200": {
            "description": "A successful response.",
            "schema": {
              "$ref": "#/definitions/DownloadExportsResponse"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "#/definitions/Status"
            }
          }
        },
        "parameters": [
          {
            "name": "clusterId",
            "description": "Required. The ID of the cluster.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "exportId",
            "description": "Required. The ID of the export to be retrieved.",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ExportService.DownloadExportBody"
            }
          }
        ],
        "tags": [
          "ExportService"
        ]
      }
    }
  },
  "definitions": {
    "Any": {
      "type": "object",
      "properties": {
        "@type": {
          "type": "string"
        }
      },
      "additionalProperties": {}
    },
    "DownloadExportsResponse": {
      "type": "object",
      "properties": {
        "downloads": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/DownloadUrl"
          },
          "description": "The download urls of the export."
        }
      }
    },
    "DownloadUrl": {
      "type": "object",
      "properties": {
        "name": {
          "type": "string",
          "description": "The name of the download file."
        },
        "url": {
          "type": "string",
          "description": "The download url."
        },
        "size": {
          "type": "integer",
          "format": "int64",
          "description": "The size in bytes of the the download file."
        }
      }
    },
    "Export": {
      "type": "object",
      "properties": {
        "exportId": {
          "type": "string",
          "description": "Output_only. The unique ID of the export.",
          "readOnly": true
        },
        "name": {
          "type": "string",
          "description": "Output_only. The unique name of the export.",
          "readOnly": true
        },
        "clusterId": {
          "type": "string",
          "description": "Required. The cluster ID that export belong to."
        },
        "createdBy": {
          "type": "string",
          "description": "Output_only. The creator of the export.",
          "readOnly": true
        },
        "state": {
          "description": "Output_only. The state of the export.",
          "readOnly": true,
          "allOf": [
            {
              "$ref": "#/definitions/ExportState.Enum"
            }
          ]
        },
        "exportOptions": {
          "description": "Optional. The options of the export.",
          "allOf": [
            {
              "$ref": "#/definitions/ExportOptions"
            }
          ]
        },
        "target": {
          "description": "Optional. The target of the export.",
          "allOf": [
            {
              "$ref": "#/definitions/ExportTarget"
            }
          ]
        },
        "reason": {
          "type": "string",
          "x-nullable": true,
          "description": "Optional. The failed reason of the export.",
          "readOnly": true
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the export. Default: SNAPSHOT_{snapshot_time}."
        },
        "createTime": {
          "type": "string",
          "format": "date-time",
          "description": "Output_only. Timestamp when the export was created.",
          "readOnly": true
        },
        "updateTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "description": "Output_only. Timestamp when the export was updated.",
          "readOnly": true
        },
        "completeTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "description": "Output_only. Timestamp when the export was completed.",
          "readOnly": true
        },
        "snapshotTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "description": "Output_only. Snapshot time of the export.",
          "readOnly": true
        },
        "expireTime": {
          "type": "string",
          "format": "date-time",
          "x-nullable": true,
          "description": "Output_only. Expire time of the export.",
          "readOnly": true
        }
      },
      "description": "Message for export resource.",
      "required": [
        "clusterId"
      ]
    },
    "ExportCompressionType.Enum": {
      "type": "string",
      "enum": [
        "GZIP",
        "SNAPPY",
        "ZSTD",
        "NONE"
      ],
      "description": " - GZIP: Gzip compression.\n - SNAPPY: Snappy compression.\n - ZSTD: Zstd compression.\n - NONE: No compression."
    },
    "ExportFileType.Enum": {
      "type": "string",
      "enum": [
        "SQL",
        "CSV",
        "PARQUET"
      ],
      "description": " - SQL: SQL type.\n - CSV: CSV type.\n - PARQUET: PARQUET type."
    },
    "ExportOptions": {
      "type": "object",
      "properties": {
        "fileType": {
          "description": "Optional. The exported file type. Default: CSV with sql filter, SQL with other filter.",
          "allOf": [
            {
              "$ref": "#/definitions/ExportFileType.Enum"
            }
          ]
        },
        "database": {
          "type": "string",
          "title": "Optional. The specify database of the export. DEPRECATED, use filter instead"
        },
        "table": {
          "type": "string",
          "title": "Optional. The specify table of the export. DEPRECATED, use filter instead"
        },
        "compression": {
          "description": "Optional. The compression of the export. Default is GZIP.",
          "allOf": [
            {
              "$ref": "#/definitions/ExportCompressionType.Enum"
            }
          ]
        },
        "filter": {
          "description": "Optional. The filter of the export. Default is whole cluster.",
          "allOf": [
            {
              "$ref": "#/definitions/ExportOptions.Filter"
            }
          ]
        },
        "csvFormat": {
          "description": "Optional. The format of the csv.",
          "allOf": [
            {
              "$ref": "#/definitions/ExportOptions.CSVFormat"
            }
          ]
        }
      }
    },
    "ExportOptions.CSVFormat": {
      "type": "object",
      "properties": {
        "separator": {
          "type": "string",
          "description": "Separator of each value in CSV files. It is recommended to use '|+|' or other uncommon character combinations. Default is ','."
        },
        "delimiter": {
          "type": "string",
          "x-nullable": true,
          "description": "Delimiter of string type variables in CSV files. Default is '\"'."
        },
        "nullValue": {
          "type": "string",
          "x-nullable": true,
          "description": "Representation of null values in CSV files. Default is \"\\N\"."
        },
        "skipHeader": {
          "type": "boolean",
          "description": "Export CSV files of the tables without header. Default is false."
        }
      }
    },
    "ExportOptions.Filter": {
      "type": "object",
      "properties": {
        "sql": {
          "type": "string",
          "description": "Optional. Use SQL to filter the export."
        },
        "table": {
          "description": "Optional. Use table-filter to filter the export.",
          "allOf": [
            {
              "$ref": "#/definitions/ExportOptions.Filter.Table"
            }
          ]
        }
      }
    },
    "ExportOptions.Filter.Table": {
      "type": "object",
      "properties": {
        "patterns": {
          "type": "array",
          "items": {
            "type": "string"
          },
          "description": "Optional. The table-filter expressions."
        },
        "where": {
          "type": "string",
          "description": "Optional. Export only selected records."
        }
      }
    },
    "ExportS3AuthType.Enum": {
      "type": "string",
      "enum": [
        "ROLE_ARN",
        "ACCESS_KEY"
      ],
      "description": " - ROLE_ARN: The access method is role arn.\n - ACCESS_KEY: The access method is access key."
    },
    "ExportService.CancelExportBody": {
      "type": "object"
    },
    "ExportService.CreateExportBody": {
      "type": "object",
      "properties": {
        "exportOptions": {
          "description": "Optional. The options of the export.",
          "allOf": [
            {
              "$ref": "#/definitions/ExportOptions"
            }
          ]
        },
        "target": {
          "description": "Optional. The target of the export.",
          "allOf": [
            {
              "$ref": "#/definitions/ExportTarget"
            }
          ]
        },
        "displayName": {
          "type": "string",
          "description": "Optional. The display name of the export. Default: SNAPSHOT_{snapshot_time}."
        }
      }
    },
    "ExportService.DownloadExportBody": {
      "type": "object"
    },
    "ExportState.Enum": {
      "type": "string",
      "enum": [
        "RUNNING",
        "SUCCEEDED",
        "FAILED",
        "CANCELED",
        "DELETED",
        "EXPIRED"
      ],
      "description": "Output Only. Export State.\n\n - RUNNING: The export job is being created.\n - SUCCEEDED: The export job is success.\n - FAILED: The export job is failed.\n - CANCELED: The export job is canceled.\n - DELETED: The export job is deleted.\n - EXPIRED: The export is expired, only local export will be expired."
    },
    "ExportTarget": {
      "type": "object",
      "properties": {
        "type": {
          "description": "Optional. The exported file type. Default is LOCAL.",
          "allOf": [
            {
              "$ref": "#/definitions/ExportTargetType.Enum"
            }
          ]
        },
        "s3": {
          "$ref": "#/definitions/S3Target"
        }
      }
    },
    "ExportTargetType.Enum": {
      "type": "string",
      "enum": [
        "LOCAL",
        "S3"
      ],
      "description": " - LOCAL: Local target.\n - S3: S3 target."
    },
    "ListExportsResponse": {
      "type": "object",
      "properties": {
        "exports": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/Export"
          },
          "description": "A list of exports."
        },
        "nextPageToken": {
          "type": "string",
          "description": "Token provided to retrieve the next page of results."
        },
        "totalSize": {
          "type": "integer",
          "format": "int64",
          "description": "Total number of exports."
        }
      }
    },
    "S3Target": {
      "type": "object",
      "properties": {
        "bucketUri": {
          "type": "string",
          "description": "Optional. The bucket URI of the s3. DEPRECATED, use uri instead."
        },
        "uri": {
          "type": "string",
          "description": "Optional. The URI of the s3 folder."
        },
        "authType": {
          "description": "Required. The auth method of the export s3.",
          "allOf": [
            {
              "$ref": "#/definitions/ExportS3AuthType.Enum"
            }
          ]
        },
        "accessKey": {
          "description": "Optional. The access key of the s3.",
          "allOf": [
            {
              "$ref": "#/definitions/S3Target.AccessKey"
            }
          ]
        },
        "roleArn": {
          "type": "string",
          "description": "Optional. The role arn of the s3."
        }
      },
      "required": [
        "authType"
      ]
    },
    "S3Target.AccessKey": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string",
          "description": "The access key id of the s3."
        },
        "secret": {
          "type": "string",
          "description": "Input_Only. The secret access key of the s3."
        }
      },
      "required": [
        "id",
        "secret"
      ]
    },
    "Status": {
      "type": "object",
      "properties": {
        "code": {
          "type": "integer",
          "format": "int32"
        },
        "message": {
          "type": "string"
        },
        "details": {
          "type": "array",
          "items": {
            "type": "object",
            "$ref": "#/definitions/Any"
          }
        }
      }
    }
  }
}
