openapi: 3.0.1
info:
  description: TiDB Cloud Dedicated Open API.
  title: TiDB Cloud Dedicated Open API
  version: v1beta1
externalDocs:
  description: More about TiDB Cloud API
  url: https://docs.pingcap.com/tidbcloud/api-overview
servers:
- url: https://dedicated.tidbapi.com/v1beta1
security:
- Bearer: []
tags:
- name: ClusterService
- name: RegionService
- name: TidbNodeGroupService
- name: PrivateEndpointConnectionService
- name: NetworkContainerService
- name: MaintenanceService
- name: DatabaseAuditLogService
paths:
  /clusters:
    get:
      operationId: ClusterService_ListClusters
      parameters:
      - description: "If unspecified, the project ID of default project is used."
        in: query
        name: projectId
        schema:
          type: string
      - description: "If specified, only clusters in the specified cluster_ids will\
          \ be returned."
        explode: true
        in: query
        name: clusterIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: "If specified, only clusters in the specified regions will be\
          \ returned."
        explode: true
        in: query
        name: regionIds
        schema:
          items:
            type: string
          type: array
        style: form
      - description: |-
          If specified, only clusters in the specified states will be returned.

           - CREATING: Cluster is being created.
           - DELETING: Cluster is being deleted.
           - ACTIVE: Cluster is active for use.
           - RESTORING: Cluster data is being restored.
           - MAINTENANCE: Cluster is under maintenance.
           - DELETED: Cluster has been deleted.
           - INACTIVE: Cluster is not active, but not being deleted.
           - UPGRADING: Cluster is being updated.
          Only for Dedicated Cluster.
           - IMPORTING: Cluster is being imported.
          Only for Dedicated Cluster.
           - MODIFYING: Cluster is being modified.
          Only for Dedicated Cluster.
           - PAUSING: Cluster is being paused.
          Only for Dedicated Cluster.
           - PAUSED: Cluster is paused.
          Only for Dedicated Cluster.
           - RESUMING: Cluster is resuming.
          Only for Dedicated Cluster.
        explode: true
        in: query
        name: clusterStates
        schema:
          items:
            $ref: '#/components/schemas/ClusterService_ListClusters_clusterStates_parameter_inner'
          type: array
        style: form
      - description: |-
          The maximum number of clusters to return. The service may return fewer than this value.
          If unspecified, at most X clusters will be returned.
          The maximum value is X; values above X will be coerced to X.
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: |-
          A page token, received from a previous `ListClusters` call.
          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListClusters` must match
          the call that provided the page token.
        in: query
        name: pageToken
        schema:
          type: string
      - description: |-
          The number of individual resources to skip before starting to return results.
          If the skip value causes the cursor to move past the end of the collection,
          the response will be 200 OK with an empty result set and no next_page_token.
        in: query
        name: skip
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tidb_cloud_open_apidedicatedv1beta1ListClustersResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: List clusters
      tags:
      - ClusterService
    post:
      operationId: ClusterService_CreateCluster
      parameters:
      - description: "if validate_only is true, the request will be validated but\
          \ not executed."
        in: query
        name: validateOnly
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/tidb_cloud_open_apidedicatedv1beta1Cluster'
        description: Required.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tidb_cloud_open_apidedicatedv1beta1Cluster'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Create a cluster
      tags:
      - ClusterService
      x-codegen-request-body-name: cluster
  /clusters/{clusterId}:
    delete:
      operationId: ClusterService_DeleteCluster
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: "if validate_only is true, the request will be validated but\
          \ not executed."
        in: query
        name: validateOnly
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tidb_cloud_open_apidedicatedv1beta1Cluster'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Delete a cluster
      tags:
      - ClusterService
    get:
      operationId: ClusterService_GetCluster
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tidb_cloud_open_apidedicatedv1beta1Cluster'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Get a cluster
      tags:
      - ClusterService
  /clusters/{cluster.clusterId}:
    patch:
      operationId: ClusterService_UpdateCluster
      parameters:
      - in: path
        name: cluster.clusterId
        required: true
        schema:
          type: string
      - description: "if validate_only is true, the request will be validated but\
          \ not executed."
        in: query
        name: validateOnly
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterService_UpdateCluster_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tidb_cloud_open_apidedicatedv1beta1Cluster'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Update a cluster
      tags:
      - ClusterService
      x-codegen-request-body-name: cluster
  /clusters/{clusterId}:pauseCluster:
    post:
      operationId: ClusterService_PauseCluster
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1PauseClusterResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Pause a cluster
      tags:
      - ClusterService
  /clusters/{clusterId}:resumeCluster:
    post:
      operationId: ClusterService_ResumeCluster
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1ResumeClusterResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Resume a cluster
      tags:
      - ClusterService
  /clusters/{clusterId}:resetRootPassword:
    post:
      operationId: ClusterService_ResetRootPassword
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1ClusterServiceResetRootPasswordBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1ResetRootPasswordResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Reset the root password of a cluster
      tags:
      - ClusterService
      x-codegen-request-body-name: body
  /clusters/{clusterId}/nodeInstances:
    get:
      operationId: ClusterService_ListNodeInstances
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: "If specified, only node instances of the specified component\
          \ type will be returned."
        in: query
        name: componentType
        schema:
          $ref: '#/components/schemas/ClusterService_ListNodeInstances_componentType_parameter'
      - description: |-
          The maximum number of node instances to return. The service may return fewer than this value.
          If unspecified, at most X node instances will be returned.
          The maximum value is X; values above X will be coerced to X.
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: |-
          A page token, received from a previous `ListNodeInstances` call.
          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListNodeInstances` must match
          the call that provided the page token.
        in: query
        name: pageToken
        schema:
          type: string
      - description: |-
          The number of individual resources to skip before starting to return results.
          If the skip value causes the cursor to move past the end of the collection,
          the response will be 200 OK with an empty result set and no next_page_token.
        in: query
        name: skip
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1ListNodeInstancesResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: List node instances
      tags:
      - ClusterService
  /clusters/{clusterId}/nodeInstances/{instanceId}:
    get:
      operationId: ClusterService_GetNodeInstance
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      - in: path
        name: instanceId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1NodeInstance'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Get a node instance
      tags:
      - ClusterService
  /clusters:showNodeQuota:
    get:
      operationId: ClusterService_ShowNodeQuota
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1ShowNodeQuotaResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Show node quota across the caller's organization
      tags:
      - ClusterService
  /clusters/{clusterId}/logRedactionPolicy:
    get:
      operationId: ClusterService_GetLogRedactionPolicy
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1LogRedactionPolicy'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Get log redaction policy
      tags:
      - ClusterService
  /clusters/{logRedactionPolicy.clusterId}/logRedactionPolicy:
    patch:
      operationId: ClusterService_UpdateLogRedactionPolicy
      parameters:
      - in: path
        name: logRedactionPolicy.clusterId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ClusterService_UpdateLogRedactionPolicy_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1LogRedactionPolicy'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Update log redaction policy
      tags:
      - ClusterService
      x-codegen-request-body-name: logRedactionPolicy
  /regions:
    get:
      operationId: RegionService_ListRegions
      parameters:
      - description: "If specified, only regions of the specified cloud provider will\
          \ be returned."
        in: query
        name: cloudProvider
        schema:
          type: string
      - description: "If unspecified, the project ID of default project is used."
        in: query
        name: projectId
        schema:
          type: string
      - description: |-
          The maximum number of regions to return. The service may return fewer than this value.
          If unspecified, at most X regions will be returned.
          The maximum value is X; values above X will be coerced to X.
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: |-
          A page token, received from a previous `ListRegions` call.
          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListRegions` must match
          the call that provided the page token.
        in: query
        name: pageToken
        schema:
          type: string
      - description: |-
          The number of individual resources to skip before starting to return results.
          If the skip value causes the cursor to move past the end of the collection,
          the response will be 200 OK with an empty result set and no next_page_token.
        in: query
        name: skip
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/tidb_cloud_open_apidedicatedv1beta1ListRegionsResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: List regions for creating a cluster
      tags:
      - RegionService
  /regions/{regionId}:
    get:
      operationId: RegionService_GetRegion
      parameters:
      - description: "Format: {cloud_provider}-{region_code}"
        in: path
        name: regionId
        required: true
        schema:
          type: string
      - description: "If unspecified, the project ID of default project is used."
        in: query
        name: projectId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/commonv1beta1Region'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Get a region
      tags:
      - RegionService
  /regions:showCloudProviders:
    get:
      operationId: RegionService_ShowCloudProviders
      parameters:
      - description: "If unspecified, the project ID of default project is used."
        in: query
        name: projectId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1ShowCloudProvidersResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Show cloud providers for creating a cluster
      tags:
      - RegionService
  /regions/{regionId}/nodeSpecs:
    get:
      operationId: RegionService_ListNodeSpecs
      parameters:
      - description: "Format: {cloud_provider}-{region_code}"
        in: path
        name: regionId
        required: true
        schema:
          type: string
      - description: "If specified, only node specs of the specified component type\
          \ will be returned."
        in: query
        name: componentType
        schema:
          $ref: '#/components/schemas/ClusterService_ListNodeInstances_componentType_parameter'
      - description: "If unspecified, the project ID of default project is used."
        in: query
        name: projectId
        schema:
          type: string
      - description: |-
          If specified, only node specs that are available to the specified cluster will be returned.
          If not specified, all available node specs will be returned.
        in: query
        name: clusterId
        schema:
          type: string
      - description: |-
          The maximum number of node specs to return. The service may return fewer than this value.
          If unspecified, at most X node specs will be returned.
          The maximum value is X; values above X will be coerced to X.
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: |-
          A page token, received from a previous `ListNodeSpecs` call.
          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListNodeSpecs` must match
          the call that provided the page token.
        in: query
        name: pageToken
        schema:
          type: string
      - description: |-
          The number of individual resources to skip before starting to return results.
          If the skip value causes the cursor to move past the end of the collection,
          the response will be 200 OK with an empty result set and no next_page_token.
        in: query
        name: skip
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1ListNodeSpecsResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: List node specs for creating or scaling a cluster
      tags:
      - RegionService
  /regions/{regionId}/componentTypes/{componentType}/nodeSpecs/{nodeSpecKey}:
    get:
      operationId: RegionService_GetNodeSpec
      parameters:
      - description: "Format: {cloud_provider}-{region_code}"
        in: path
        name: regionId
        required: true
        schema:
          type: string
      - in: path
        name: componentType
        required: true
        schema:
          $ref: '#/components/schemas/ClusterService_ListNodeInstances_componentType_parameter'
      - in: path
        name: nodeSpecKey
        required: true
        schema:
          type: string
      - description: "If unspecified, the project ID of default project is used."
        in: query
        name: projectId
        schema:
          type: string
      - description: |-
          If specified, only node specs that are available to the specified cluster will be returned.
          If not specified, all available node specs will be returned.
        in: query
        name: clusterId
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1NodeSpec'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Get a node spec
      tags:
      - RegionService
  /clusters/{tidbNodeGroup.clusterId}/tidbNodeGroups:
    post:
      operationId: TidbNodeGroupService_CreateTidbNodeGroup
      parameters:
      - description: |-
          The cluster ID of the TiDB group.
          Optional when creating cluster with the default TiDB group.
          Required when creating non-default TiDB group.
        in: path
        name: tidbNodeGroup.clusterId
        required: true
        schema:
          type: string
      - description: "if validate_only is true, the request will be validated but\
          \ not executed."
        in: query
        name: validateOnly
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Required_'
        description: Required.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1TidbNodeGroup'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Create a TiDB Node Group
      tags:
      - TidbNodeGroupService
      x-codegen-request-body-name: tidbNodeGroup
  /clusters/{clusterId}/tidbNodeGroups:
    get:
      operationId: TidbNodeGroupService_ListTidbNodeGroups
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: |-
          The maximum number of TiDB groups to return. The service may return fewer than this value.
          If unspecified, at most X TiDB groups will be returned.
          The maximum value is X; values above X will be coerced to X.
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: |-
          A page token, received from a previous `ListTidbNodeGroups` call.
          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListTidbNodeGroups` must match
          the call that provided the page token.
        in: query
        name: pageToken
        schema:
          type: string
      - description: |-
          The number of individual resources to skip before starting to return results.
          If the skip value causes the cursor to move past the end of the collection,
          the response will be 200 OK with an empty result set and no next_page_token.
        in: query
        name: skip
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1ListTidbNodeGroupsResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: List TiDB Node Groups
      tags:
      - TidbNodeGroupService
  /clusters/{clusterId}/tidbNodeGroups/{tidbNodeGroupId}:
    delete:
      operationId: TidbNodeGroupService_DeleteTidbNodeGroup
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      - in: path
        name: tidbNodeGroupId
        required: true
        schema:
          type: string
      - description: "if validate_only is true, the request will be validated but\
          \ not executed."
        in: query
        name: validateOnly
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Delete a TiDB Node Group
      tags:
      - TidbNodeGroupService
    get:
      operationId: TidbNodeGroupService_GetTidbNodeGroup
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      - in: path
        name: tidbNodeGroupId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1TidbNodeGroup'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Get a TiDB Node Group
      tags:
      - TidbNodeGroupService
  /clusters/{tidbNodeGroup.clusterId}/tidbNodeGroups/{tidbNodeGroup.tidbNodeGroupId}:
    patch:
      operationId: TidbNodeGroupService_UpdateTidbNodeGroup
      parameters:
      - in: path
        name: tidbNodeGroup.clusterId
        required: true
        schema:
          type: string
      - in: path
        name: tidbNodeGroup.tidbNodeGroupId
        required: true
        schema:
          type: string
      - description: "if validate_only is true, the request will be validated but\
          \ not executed."
        in: query
        name: validateOnly
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TidbNodeGroupService_UpdateTidbNodeGroup_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1TidbNodeGroup'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Update a TiDB Node Group
      tags:
      - TidbNodeGroupService
      x-codegen-request-body-name: tidbNodeGroup
  /clusters/{clusterId}/tidbNodeGroups/{tidbNodeGroupId}/publicEndpointSetting:
    get:
      operationId: TidbNodeGroupService_GetPublicEndpointSetting
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      - in: path
        name: tidbNodeGroupId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1PublicEndpointSetting'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Get the public endpoint setting of a TiDB Node Group
      tags:
      - TidbNodeGroupService
  /clusters/{clusterId}/tidbNodeGroups/{publicEndpointSetting.tidbNodeGroupId}/publicEndpointSetting:
    patch:
      operationId: TidbNodeGroupService_UpdatePublicEndpointSetting
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: "If set to \"-\", the default TiDB group will be used."
        in: path
        name: publicEndpointSetting.tidbNodeGroupId
        required: true
        schema:
          type: string
      - description: "if validate_only is true, the request will be validated but\
          \ not executed."
        in: query
        name: validateOnly
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TidbNodeGroupService_UpdatePublicEndpointSetting_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1PublicEndpointSetting'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Update the public endpoint setting of a TiDB Node Group
      tags:
      - TidbNodeGroupService
      x-codegen-request-body-name: publicEndpointSetting
  /clusters/{clusterId}/tidbNodeGroups/{tidbNodeGroupId}/privateLinkService:
    get:
      operationId: PrivateEndpointConnectionService_GetPrivateLinkService
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      - in: path
        name: tidbNodeGroupId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1PrivateLinkService'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Get the private link service of a TiDB Node Group
      tags:
      - PrivateEndpointConnectionService
  /clusters/{clusterId}/tidbNodeGroups/{privateEndpointConnection.tidbNodeGroupId}/privateEndpointConnections:
    post:
      operationId: PrivateEndpointConnectionService_CreatePrivateEndpointConnection
      parameters:
      - description: Required.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - in: path
        name: privateEndpointConnection.tidbNodeGroupId
        required: true
        schema:
          type: string
      - description: |-
          Default is false. If true, the request will not be applied and only validation will be performed.
          At present, this field is only available for Azure provider.
        in: query
        name: validateOnly
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PrivateEndpointConnectionService_CreatePrivateEndpointConnection_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1PrivateEndpointConnection'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Create a private endpoint connection
      tags:
      - PrivateEndpointConnectionService
      x-codegen-request-body-name: privateEndpointConnection
  /clusters/{clusterId}/tidbNodeGroups/{tidbNodeGroupId}/privateEndpointConnections:
    get:
      operationId: PrivateEndpointConnectionService_ListPrivateEndpointConnections
      parameters:
      - description: "To list private link connections across different clusters and\
          \ TiDB groups, set cluster_id to \"-\"."
        in: path
        name: clusterId
        required: true
        schema:
          pattern: "[^/]+"
          type: string
      - description: "To list private link connections across different clusters and\
          \ TiDB groups, set tidb_node_group_id to \"-\"."
        in: path
        name: tidbNodeGroupId
        required: true
        schema:
          pattern: "[^/]+"
          type: string
      - description: |-
          Pass this project_id only when listing under a project across different clusters and TiDB groups.
          Both cluster_id and tidb_node_group_id should be set to "-" in this case.
          If unspecified, the project ID of the cluster is used.
        in: query
        name: projectId
        schema:
          type: string
      - description: |-
          If specified, only private link connections of the specified cloud provider will be returned.

           - aws: Amazon Web Services.
           - gcp: Google Cloud Platform.
           - azure: Microsoft Azure.
           - alicloud: Alibaba Cloud
        in: query
        name: cloudProvider
        schema:
          $ref: '#/components/schemas/PrivateEndpointConnectionService_ListPrivateEndpointConnections_cloudProvider_parameter'
      - description: |-
          The maximum number of private link connections to return. The service may return fewer than this value.
          If unspecified, at most X private link connections will be returned.
          The maximum value is X; values above X will be coerced to X.
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: |-
          A page token, received from a previous `ListPrivateLinkConnections` call.
          Provide this to retrieve the subsequent page.
        in: query
        name: pageToken
        schema:
          type: string
      - description: |-
          The number of individual resources to skip before starting to return results.
          If the skip value causes the cursor to move past the end of the collection,
          the response will be 200 OK with an empty result set and no next_page_token.
        in: query
        name: skip
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1ListPrivateEndpointConnectionsResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: List private endpoint connections
      tags:
      - PrivateEndpointConnectionService
  /clusters/{clusterId}/tidbNodeGroups/{tidbNodeGroupId}/privateEndpointConnections/{privateEndpointConnectionId}:
    delete:
      operationId: PrivateEndpointConnectionService_DeletePrivateEndpointConnection
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      - in: path
        name: tidbNodeGroupId
        required: true
        schema:
          type: string
      - in: path
        name: privateEndpointConnectionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Delete a private endpoint connection
      tags:
      - PrivateEndpointConnectionService
    get:
      operationId: PrivateEndpointConnectionService_GetPrivateEndpointConnection
      parameters:
      - in: path
        name: clusterId
        required: true
        schema:
          type: string
      - in: path
        name: tidbNodeGroupId
        required: true
        schema:
          type: string
      - in: path
        name: privateEndpointConnectionId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1PrivateEndpointConnection'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Get a private endpoint connection
      tags:
      - PrivateEndpointConnectionService
  /networkContainers:
    get:
      operationId: NetworkContainerService_ListNetworkContainers
      parameters:
      - description: "If unspecified, the project ID of default project is used."
        in: query
        name: projectId
        schema:
          type: string
      - description: |2-
           - aws: Amazon Web Services.
           - gcp: Google Cloud Platform.
           - azure: Microsoft Azure.
           - alicloud: Alibaba Cloud
        in: query
        name: cloudProvider
        schema:
          $ref: '#/components/schemas/PrivateEndpointConnectionService_ListPrivateEndpointConnections_cloudProvider_parameter'
      - description: |-
          The maximum number of network containers to return. The service may return fewer than this value.
          If unspecified, at most X network containers will be returned.
          The maximum value is X; values above X will be coerced to X.
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: |-
          A page token, received from a previous `ListNetworkContainers` call.
          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListNetworkContainers` must match
          the call that provided the page token.
        in: query
        name: pageToken
        schema:
          type: string
      - description: |-
          The number of individual resources to skip before starting to return results.
          If the skip value causes the cursor to move past the end of the collection,
          the response will be 200 OK with an empty result set and no next_page_token.
        in: query
        name: skip
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1ListNetworkContainersResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: List network containers
      tags:
      - NetworkContainerService
    post:
      operationId: NetworkContainerService_CreateNetworkContainer
      parameters:
      - in: query
        name: validateOnly
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v1beta1NetworkContainer'
        description: Required.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1NetworkContainer'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Create a network container
      tags:
      - NetworkContainerService
      x-codegen-request-body-name: networkContainer
  /networkContainers/{networkContainerId}:
    delete:
      operationId: NetworkContainerService_DeleteNetworkContainer
      parameters:
      - in: path
        name: networkContainerId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Delete a network container
      tags:
      - NetworkContainerService
    get:
      operationId: NetworkContainerService_GetNetworkContainer
      parameters:
      - in: path
        name: networkContainerId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v1beta1NetworkContainer'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Get a network container
      tags:
      - NetworkContainerService
  /vpcPeerings:
    get:
      operationId: NetworkContainerService_ListVpcPeerings
      parameters:
      - description: "If unspecified, the project ID of default project is used."
        in: query
        name: projectId
        schema:
          type: string
      - description: |-
          If specified, only VPC peerings of the specified cloud provider will be returned.

           - aws: Amazon Web Services.
           - gcp: Google Cloud Platform.
           - azure: Microsoft Azure.
           - alicloud: Alibaba Cloud
        in: query
        name: cloudProvider
        schema:
          $ref: '#/components/schemas/PrivateEndpointConnectionService_ListPrivateEndpointConnections_cloudProvider_parameter'
      - description: |-
          The maximum number of VPC peerings to return. The service may return fewer than this value.
          If unspecified, at most X VPC peerings will be returned.
          The maximum value is X; values above X will be coerced to X.
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: |-
          A page token, received from a previous `ListVpcPeerings` call.
          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListVpcPeerings` must match
          the call that provided the page token.
        in: query
        name: pageToken
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1ListVpcPeeringsResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: List VPC peerings
      tags:
      - NetworkContainerService
    post:
      operationId: NetworkContainerService_CreateVpcPeering
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/dedicatedv1beta1VpcPeering'
        description: Required.
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1VpcPeering'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Create a VPC peering
      tags:
      - NetworkContainerService
      x-codegen-request-body-name: vpcPeering
  /vpcPeerings/{vpcPeeringId}:
    delete:
      operationId: NetworkContainerService_DeleteVpcPeering
      parameters:
      - description: "Format {cloud_provider}-{random_suffix}"
        in: path
        name: vpcPeeringId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                type: object
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Delete a VPC peering
      tags:
      - NetworkContainerService
    get:
      operationId: NetworkContainerService_GetVpcPeering
      parameters:
      - description: "Format {cloud_provider}-{random_suffix}"
        in: path
        name: vpcPeeringId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1VpcPeering'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Get a VPC peering
      tags:
      - NetworkContainerService
  /maintenanceWindows/{maintenanceWindowId}:
    get:
      operationId: MaintenanceService_GetMaintenanceWindow
      parameters:
      - description: "Format: project-{project_id}"
        in: path
        name: maintenanceWindowId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1MaintenanceWindow'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Get a maintenance window
      tags:
      - MaintenanceService
  /maintenanceWindows:
    get:
      operationId: MaintenanceService_ListMaintenanceWindows
      parameters:
      - description: "If unspecified, the project ID of default project is used."
        in: query
        name: projectId
        schema:
          type: string
      - description: |-
          The maximum number of maintenance windows to return. The service may return fewer than this value.
          If unspecified, at most X maintenance windows will be returned.
          The maximum value is X; values above X will be coerced to X.
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: |-
          A page token, received from a previous `ListMaintenanceWindows` call.
          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListMaintenanceWindows` must match
          the call that provided the page token.
        in: query
        name: pageToken
        schema:
          type: string
      - description: |-
          The number of individual resources to skip before starting to return results.
          If the skip value causes the cursor to move past the end of the collection,
          the response will be 200 OK with an empty result set and no next_page_token.
        in: query
        name: skip
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1ListMaintenanceWindowsResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: List maintenance windows
      tags:
      - MaintenanceService
  /maintenanceWindows/{maintenanceWindow.maintenanceWindowId}:
    patch:
      operationId: MaintenanceService_UpdateMaintenanceWindow
      parameters:
      - description: "Format: project-{project_id}"
        in: path
        name: maintenanceWindow.maintenanceWindowId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaintenanceService_UpdateMaintenanceWindow_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1MaintenanceWindow'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Update a maintenance window
      tags:
      - MaintenanceService
      x-codegen-request-body-name: maintenanceWindow
  /maintenanceTasks:
    get:
      operationId: MaintenanceService_ListMaintenanceTasks
      parameters:
      - description: "If unspecified, the project ID of default project is used."
        in: query
        name: projectId
        schema:
          type: string
      - description: |-
          The maximum number of maintenance tasks to return. The service may return fewer than this value.
          If unspecified, at most X maintenance tasks will be returned.
          The maximum value is X; values above X will be coerced to X.
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: |-
          A page token, received from a previous `ListMaintenanceTasks` call.
          Provide this to retrieve the subsequent page.

          When paginating, all other parameters provided to `ListMaintenanceTasks` must match
          the call that provided the page token.
        in: query
        name: pageToken
        schema:
          type: string
      - description: |-
          The number of individual resources to skip before starting to return results.
          If the skip value causes the cursor to move past the end of the collection,
          the response will be 200 OK with an empty result set and no next_page_token.
        in: query
        name: skip
        schema:
          format: int32
          type: integer
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1ListMaintenanceTasksResponse'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: List maintenance tasks
      tags:
      - MaintenanceService
  /maintenanceTasks/{maintenanceTaskId}:
    get:
      operationId: MaintenanceService_GetMaintenanceTask
      parameters:
      - in: path
        name: maintenanceTaskId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1MaintenanceTask'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Get a maintenance task
      tags:
      - MaintenanceService
  /maintenanceTasks/{maintenanceTask.maintenanceTaskId}:
    patch:
      operationId: MaintenanceService_UpdateMaintenanceTask
      parameters:
      - in: path
        name: maintenanceTask.maintenanceTaskId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MaintenanceService_UpdateMaintenanceTask_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1MaintenanceTask'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Update a maintenance task
      tags:
      - MaintenanceService
      x-codegen-request-body-name: maintenanceTask
  /clusters/{auditLogConfig.clusterId}/auditLogConfig:
    patch:
      operationId: DatabaseAuditLogService_UpdateAuditLogConfig
      parameters:
      - in: path
        name: auditLogConfig.clusterId
        required: true
        schema:
          type: string
      - in: query
        name: validateOnly
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DatabaseAuditLogService_UpdateAuditLogConfig_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/dedicatedv1beta1AuditLogConfig'
          description: A successful response.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Bad Request
        "401":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Unauthorized
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Forbidden
        "429":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Too Many Requests
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: Internal Server Error
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/googlerpcStatus'
          description: An unexpected error response.
      summary: Update the audit log config of a cluster
      tags:
      - DatabaseAuditLogService
      x-codegen-request-body-name: auditLogConfig
    post:
      operationId: DatabaseAuditLogService_CreateAuditLogConfig
      parameters:
      - in: path
        name: auditLogConfig.clusterId
        required: true
        schema:
          type: string
      - in: query
        name: validateOnly
        schema:
          type: boolean
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Required__1'
[...]
