openapi: 3.0.1
info:
  description: TiDB Cloud Starter and Essential API
  title: TiDB Cloud Starter and Essential API
  version: v1beta1
servers:
- url: https://serverless.tidbapi.com/
tags:
- name: ExportService
paths:
  /v1beta1/clusters/{clusterId}/exports:
    get:
      operationId: ExportService_ListExports
      parameters:
      - description: The ID of the cluster to list export tasks for.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: "The maximum number of exports to return. If not specified, at\
          \ most 10 exports will be returned. The maximum value is `100`. Values greater\
          \ than `100` are set to `100`."
        in: query
        name: pageSize
        schema:
          default: 10
          format: int32
          type: integer
      - description: |-
          The pagination token received from a previous [List export tasks](#tag/Export/operation/ExportService_ListExports) request. Use this token to retrieve the next page of results.

          **Note**: When paginating, all other parameters must match the original request.
        in: query
        name: pageToken
        schema:
          type: string
      - description: |-
          Specifies the sorting order of results. Use a comma-separated list of field names, optionally appending `desc` for descending order. For example, `createTime desc`. By default, fields are sorted in ascending order.

          Supported field: `createTime`.
        in: query
        name: orderBy
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExportsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List export tasks on a cluster
      tags:
      - Export
      x-codeSamples:
      - label: curl
        lang: cURL
        source: |-
          curl --location 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/exports' \
          --digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --data '{
            "exportOptions": {
              "fileType": "PARQUET",
              "filter": {
                "table": {
                  "patterns": [
                      "test.*"
                  ]
                }
              },
              "parquetFormat": {
                "compression": "GZIP"
              }
            },
            "target": {
              "type": "LOCAL"
            }
          }'
    post:
      operationId: ExportService_CreateExport
      parameters:
      - description: The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportService.CreateExportBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Create an export task
      tags:
      - Export
      x-codeSamples:
      - label: curl
        lang: cURL
        source: |-
          curl --location 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/exports' \
          --digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \
          --header 'Content-Type: application/json' \
          --header 'Accept: application/json' \
          --data '{
            "exportOptions": {
              "fileType": "PARQUET",
              "filter": {
                "table": {
                  "patterns": [
                      "test.*"
                  ]
                }
              },
              "parquetFormat": {
                "compression": "GZIP"
              }
            },
            "target": {
              "type": "LOCAL"
            }
          }'
      x-codegen-request-body-name: body
  /v1beta1/clusters/{clusterId}/exports/{exportId}:
    delete:
      operationId: ExportService_DeleteExport
      parameters:
      - description: The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: The ID of the export task to delete.
        in: path
        name: exportId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Delete an export task
      tags:
      - Export
      x-codeSamples:
      - label: curl
        lang: cURL
        source: |-
          curl --location --request DELETE 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/exports/{export_id}' \
          --digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \
          --header 'Accept: application/json'
    get:
      operationId: ExportService_GetExport
      parameters:
      - description: The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: The ID of the export task to retrieve.
        in: path
        name: exportId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Get details of an export task
      tags:
      - Export
      x-codeSamples:
      - label: curl
        lang: cURL
        source: |-
          curl --location 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/exports/{export_id}' \
          --digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \
          --header 'Accept: application/json'
  /v1beta1/clusters/{clusterId}/exports/{exportId}:cancel:
    post:
      operationId: ExportService_CancelExport
      parameters:
      - description: The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: The ID of the export task to cancel.
        in: path
        name: exportId
        required: true
        schema:
          type: string
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Export'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Cancel an export task
      tags:
      - Export
      x-codeSamples:
      - label: curl
        lang: cURL
        source: |-
          curl --location --request POST 'https://serverless.tidbapi.com/v1beta1/clusters/{cluster_id}/exports/{export_id}:cancel' \
          --digest --user 'YOUR_PUBLIC_KEY:YOUR_PRIVATE_KEY' \
          --header 'Accept: application/json'
  /v1beta1/clusters/{clusterId}/exports/{exportId}:download:
    post:
      deprecated: true
      operationId: ExportService_DownloadExport
      parameters:
      - description: The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: The ID of the export task to download.
        in: path
        name: exportId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportService.DownloadExportBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadExportsResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Generate download url
      tags:
      - ExportService
      x-codegen-request-body-name: body
  /v1beta1/clusters/{clusterId}/exports/{exportId}/files:
    get:
      operationId: ExportService_ListExportFiles
      parameters:
      - description: The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: The ID of the export task.
        in: path
        name: exportId
        required: true
        schema:
          type: string
      - description: "The maximum number of files to return. If not specified, at\
          \ most 10 files will be returned. The maximum value is `100`. Values greater\
          \ than `100` are set to `100`."
        in: query
        name: pageSize
        schema:
          format: int32
          type: integer
      - description: |-
          The pagination token received from a previous [List export files](#tag/Export/operation/ExportService_ListExportFiles) request. Use this token to retrieve the next page of results.

          **Note**: When paginating, all other parameters must match the original request.
        in: query
        name: pageToken
        schema:
          type: string
      - description: Whether to generate download URLs for the files. Default value
          is `false`.
        in: query
        name: generateUrl
        schema:
          type: boolean
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListExportFilesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: List export files
      tags:
      - ExportService
  /v1beta1/clusters/{clusterId}/exports/{exportId}/files:download:
    post:
      operationId: ExportService_DownloadExportFiles
      parameters:
      - description: The ID of the cluster.
        in: path
        name: clusterId
        required: true
        schema:
          type: string
      - description: The ID of the export task.
        in: path
        name: exportId
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ExportService.DownloadExportFilesBody'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DownloadExportFilesResponse'
          description: A successful response.
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Status'
          description: An unexpected error response.
      summary: Generate export files download url
      tags:
      - ExportService
      x-codegen-request-body-name: body
components:
  schemas:
    Any:
      additionalProperties:
        type: object
      example:
        '@type': '@type'
      properties:
        '@type':
          type: string
      type: object
    AzureBlobTarget:
      properties:
        authType:
          allOf:
          - $ref: '#/components/schemas/ExportAzureBlobAuthType.Enum'
          description: The authentication method for accessing Azure Blob Storage.
          type: object
        sasToken:
          description: The Shared Access Signature (SAS) token for accessing Azure
            Blob Storage.
          type: string
        uri:
          description: "The Azure Blob URI of the export target, in the format of\
            \ `azure://<account>.blob.core.windows.net/<container>/<path>` or `https://<account>.blob.core.windows.net/<container>/<path>`."
          type: string
      required:
      - authType
      - uri
      type: object
    DownloadExportFilesResponse:
      example:
        files:
        - size: 0
          name: name
          url: url
        - size: 0
          name: name
          url: url
      properties:
        files:
          description: The files with download url of the export.
          items:
            $ref: '#/components/schemas/ExportFile'
          type: array
      type: object
    DownloadExportsResponse:
      example:
        downloads:
        - size: 0
          name: name
          url: url
        - size: 0
          name: name
          url: url
      properties:
        downloads:
          description: The download urls of the export.
          items:
            $ref: '#/components/schemas/DownloadUrl'
          type: array
      type: object
    DownloadUrl:
      example:
        size: 0
        name: name
        url: url
      properties:
        name:
          description: The name of the download file.
          type: string
        url:
          description: The download url.
          type: string
        size:
          description: The size in bytes of the download file.
          format: int64
          type: integer
      type: object
    Export:
      description: Message for export task.
      example:
        reason: reason
        displayName: displayName
        completeTime: 2000-01-23T04:56:07.000+00:00
        updateTime: 2000-01-23T04:56:07.000+00:00
        clusterId: clusterId
        snapshotTime: 2000-01-23T04:56:07.000+00:00
        target: "{}"
        expireTime: 2000-01-23T04:56:07.000+00:00
        exportOptions: "{}"
        createdBy: createdBy
        createTime: 2000-01-23T04:56:07.000+00:00
        name: name
        state: "{}"
        exportId: exportId
      properties:
        exportId:
          description: The unique ID of the export task.
          readOnly: true
          type: string
        name:
          description: The unique identifier for the export task.
          readOnly: true
          type: string
        clusterId:
          description: The ID of the cluster to which the export task belongs.
          type: string
        createdBy:
          description: The email address of the user who create the export task.
          readOnly: true
          type: string
        state:
          allOf:
          - $ref: '#/components/schemas/ExportState.Enum'
          description: The state of the export task.
          type: object
        exportOptions:
          allOf:
          - $ref: '#/components/schemas/ExportOptions'
          description: The configuration options for the export task.
          type: object
        target:
          allOf:
          - $ref: '#/components/schemas/ExportTarget'
          description: The destination configuration for where the exported data is
            stored.
          type: object
        reason:
          description: "An error message if the export task failed. Otherwise, empty."
          nullable: true
          readOnly: true
          type: string
        displayName:
          description: "The display name of the export task. Default value is `SNAPSHOT_{snapshot_time}`."
          type: string
        createTime:
          description: "The timestamp when the export task was created, in the [ISO\
            \ 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          readOnly: true
          type: string
        updateTime:
          description: "The timestamp when the export task was last updated, in the\
            \ [ISO 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          readOnly: true
          type: string
        completeTime:
          description: "The timestamp when the export task was completed, in the [ISO\
            \ 8601](https://en.wikipedia.org/wiki/ISO_8601) format."
          format: date-time
          nullable: true
          readOnly: true
          type: string
        snapshotTime:
          description: The timestamp when the data snapshot was captured for this
            export.
          format: date-time
          nullable: true
          readOnly: true
          type: string
        expireTime:
          description: The timestamp when the export will expire and become unavailable.
          format: date-time
          nullable: true
          readOnly: true
          type: string
      required:
      - clusterId
      type: object
    ExportAzureBlobAuthType.Enum:
      description: " - SAS_TOKEN: The access method is sas token."
      enum:
      - SAS_TOKEN
      type: string
    ExportCompressionType.Enum:
      description: |2-
         - GZIP: Gzip compression.
         - SNAPPY: Snappy compression.
         - ZSTD: Zstd compression.
         - NONE: No compression.
      enum:
      - GZIP
      - SNAPPY
      - ZSTD
      - NONE
      type: string
    ExportFile:
      example:
        size: 0
        name: name
        url: url
      properties:
        name:
          description: The name of the file.
          type: string
        size:
          description: The size in bytes of the file.
          format: int64
          type: integer
        url:
          description: download url of the file.
          type: string
      type: object
    ExportFileType.Enum:
      description: |2-
         - SQL: SQL type.
         - CSV: CSV type.
         - PARQUET: PARQUET type.
      enum:
      - SQL
      - CSV
      - PARQUET
      type: string
    ExportGcsAuthType.Enum:
      description: " - SERVICE_ACCOUNT_KEY: The access method is service account key."
      enum:
      - SERVICE_ACCOUNT_KEY
      type: string
    ExportOSSAuthType.Enum:
      description: " - ACCESS_KEY: The access method is access key."
      enum:
      - ACCESS_KEY
      type: string
    ExportOptions:
      properties:
        fileType:
          allOf:
          - $ref: '#/components/schemas/ExportFileType.Enum'
          description: The export file type. Default value is `CSV`.
          type: object
        database:
          description: "The database to export. DEPRECATED, use filter instead."
          type: string
        table:
          description: "The table to export. DEPRECATED, use filter instead."
          type: string
        compression:
          allOf:
          - $ref: '#/components/schemas/ExportCompressionType.Enum'
          description: The compression algorithm of the export file. Default value
            is `GZIP`.
          type: object
        filter:
          allOf:
          - $ref: '#/components/schemas/ExportOptions.Filter'
          description: "Defines which tables to include in the export. If not specified,\
            \ all tables in the cluster are exported."
          type: object
        csvFormat:
          allOf:
          - $ref: '#/components/schemas/ExportOptions.CSVFormat'
          description: The format specification for the CSV file.
          type: object
        parquetFormat:
          allOf:
          - $ref: '#/components/schemas/ExportOptions.ParquetFormat'
          description: The format specification for the Parquet file.
          type: object
      type: object
    ExportOptions.CSVFormat:
      properties:
        separator:
          description: |-
            The character used to separate values in the CSV file. Default value is `,`.
            It is recommended to use uncommon separators like `|+|` to avoid conflicts.
          type: string
        delimiter:
          description: The character used to enclose string values in the CSV file.
            Default value is `"`.
          nullable: true
          type: string
        nullValue:
          description: The string representation of NULL values in the CSV file. Default
            is `\N`.
          nullable: true
          type: string
        skipHeader:
          description: Indicates whether to omit the header row in exported CSV files.
            Default value is `false`.
          type: boolean
      type: object
    ExportOptions.Filter:
      properties:
        sql:
          description: Filters the exported data with the SQL statement.
          type: string
        table:
          allOf:
          - $ref: '#/components/schemas/ExportOptions.Filter.Table'
          description: Filters the exported data with table filter patterns.
          type: object
      type: object
    ExportOptions.Filter.Table:
      properties:
        patterns:
          description: "A list of [table-filter](https://docs.pingcap.com/tidb/stable/table-filter/#syntax)\
            \ patterns."
          items:
            type: string
          type: array
        where:
          description: Filters the exported tables with the `WHERE` condition.
          type: string
        partitions:
          description: Export only selected partitions.
          items:
            type: string
          type: array
      type: object
    ExportOptions.ParquetFormat:
      properties:
        compression:
          allOf:
          - $ref: '#/components/schemas/ExportParquetCompressionType.Enum'
          description: The Parquet compression algorithm. Default value is `ZSTD`.
          type: object
      type: object
    ExportParquetCompressionType.Enum:
      description: |2-
         - GZIP: The parquet compression type is GZIP.
         - SNAPPY: The parquet compression type is SNAPPY.
         - ZSTD: The parquet compression type is ZSTD.
         - NONE: No compression.
      enum:
      - GZIP
      - SNAPPY
      - ZSTD
      - NONE
      type: string
    ExportS3AuthType.Enum:
      description: |2-
         - ROLE_ARN: The access method is role arn.
         - ACCESS_KEY: The access method is access key.
      enum:
      - ROLE_ARN
      - ACCESS_KEY
      type: string
    ExportService.CreateExportBody:
      properties:
        exportOptions:
          allOf:
          - $ref: '#/components/schemas/ExportOptions'
          description: The configuration options for the export task.
          type: object
        target:
          allOf:
          - $ref: '#/components/schemas/ExportTarget'
          description: The destination configuration for where the exported data is
            stored.
          type: object
        displayName:
          description: "The display name of the export task. Default value is `SNAPSHOT_{snapshot_time}`."
          type: string
      type: object
    ExportService.DownloadExportBody:
      type: object
    ExportService.DownloadExportFilesBody:
      properties:
        fileNames:
          description: The names of the files to download.
          items:
            type: string
          type: array
      required:
      - fileNames
      type: object
    ExportState.Enum:
      description: |-
        Export State.

         - RUNNING: The export job is being created.
         - SUCCEEDED: The export job is success.
         - FAILED: The export job is failed.
         - CANCELED: The export job is canceled.
         - DELETED: The export job is deleted.
         - EXPIRED: The export is expired, only local export will be expired.
      enum:
      - RUNNING
      - SUCCEEDED
      - FAILED
      - CANCELED
      - DELETED
      - EXPIRED
      type: string
    ExportTarget:
      properties:
        type:
          allOf:
          - $ref: '#/components/schemas/ExportTargetType.Enum'
          description: The export target. Default value is `LOCAL`.
          type: object
        s3:
          allOf:
          - $ref: '#/components/schemas/S3Target'
          description: The configuration details for exporting data to Amazon S3.
            This is required when `type` is `S3`.
          type: object
        gcs:
          allOf:
          - $ref: '#/components/schemas/GCSTarget'
          description: The configuration details for exporting data to Google Cloud
            Storage. This is required when `type` is `GCS`.
          type: object
        azureBlob:
          allOf:
          - $ref: '#/components/schemas/AzureBlobTarget'
          description: The configuration details for exporting data to Azure Blob
            Storage. This is required when `type` is `AZURE_BLOB`.
          type: object
        oss:
          allOf:
          - $ref: '#/components/schemas/OSSTarget'
          description: The configuration details for exporting data to Alibaba Cloud
            Object Storage Service (OSS). This is required when `type` is `OSS`.
          type: object
      type: object
    ExportTargetType.Enum:
      enum:
      - LOCAL
      - S3
      - GCS
      - AZURE_BLOB
      - OSS
      title: |-
        - LOCAL: Local target.
         - S3: S3 target.
         - GCS: gcs target
         - AZURE_BLOB: azure blob target
         - OSS: OSS target
      type: string
    GCSTarget:
      properties:
        uri:
          description: The Google Cloud Storage URI of the export target.
          type: string
        authType:
          allOf:
          - $ref: '#/components/schemas/ExportGcsAuthType.Enum'
          description: The authentication method for accessing Google Cloud Storage.
          type: object
        serviceAccountKey:
          description: The service account key for accessing Google Cloud Storage.
          type: string
      required:
      - authType
      - uri
      type: object
    ListExportFilesResponse:
      example:
        nextPageToken: nextPageToken
        files:
        - size: 0
          name: name
          url: url
        - size: 0
          name: name
          url: url
      properties:
        files:
          description: The files of the export.
          items:
            $ref: '#/components/schemas/ExportFile'
          type: array
        nextPageToken:
          description: Token provided to retrieve the next page of results.
          type: string
      type: object
    ListExportsResponse:
      example:
        totalSize: 0
        exports:
        - reason: reason
          displayName: displayName
          completeTime: 2000-01-23T04:56:07.000+00:00
          updateTime: 2000-01-23T04:56:07.000+00:00
          clusterId: clusterId
          snapshotTime: 2000-01-23T04:56:07.000+00:00
          target: "{}"
          expireTime: 2000-01-23T04:56:07.000+00:00
          exportOptions: "{}"
          createdBy: createdBy
          createTime: 2000-01-23T04:56:07.000+00:00
          name: name
          state: "{}"
          exportId: exportId
        - reason: reason
          displayName: displayName
          completeTime: 2000-01-23T04:56:07.000+00:00
          updateTime: 2000-01-23T04:56:07.000+00:00
          clusterId: clusterId
          snapshotTime: 2000-01-23T04:56:07.000+00:00
          target: "{}"
          expireTime: 2000-01-23T04:56:07.000+00:00
          exportOptions: "{}"
          createdBy: createdBy
          createTime: 2000-01-23T04:56:07.000+00:00
          name: name
          state: "{}"
          exportId: exportId
        nextPageToken: nextPageToken
      properties:
        exports:
          description: A list of export tasks that match the query.
          items:
            $ref: '#/components/schemas/Export'
          type: array
        nextPageToken:
          description: The token to retrieve the next page of results. Use this value
            as the `pageToken` parameter in the next request. This field is empty
            when there are no more pages.
          type: string
        totalSize:
          description: The total number of exports that match the query.
          format: int64
          type: integer
      type: object
    OSSTarget:
      properties:
        uri:
          description: The Alibaba Cloud OSS URI of the export target.
          type: string
        authType:
          allOf:
          - $ref: '#/components/schemas/ExportOSSAuthType.Enum'
          description: The authentication method for accessing Alibaba Cloud OSS.
          type: object
        accessKey:
          allOf:
          - $ref: '#/components/schemas/OSSTarget.AccessKey'
          description: The Alibaba Cloud OSS access key credentials used for access.
          type: object
      required:
      - authType
      - uri
      type: object
    OSSTarget.AccessKey:
      properties:
        id:
          description: The AccessKey ID for accessing Alibaba Cloud OSS.
          type: string
        secret:
          description: The AccessKey secret for accessing Alibaba Cloud OSS.
          type: string
      required:
      - id
      - secret
      type: object
    S3Target:
      properties:
        bucketUri:
          description: "The bucket URI of the s3. DEPRECATED, use uri instead."
          type: string
        uri:
          description: The S3 URI of the export target.
          type: string
        authType:
          allOf:
          - $ref: '#/components/schemas/ExportS3AuthType.Enum'
          description: The authentication method for accessing the S3 bucket.
          type: object
        accessKey:
          allOf:
          - $ref: '#/components/schemas/S3Target.AccessKey'
          description: The AWS access key credentials used for access.
          type: object
        roleArn:
          description: The AWS IAM role ARN used for access.
          type: string
      required:
      - authType
      type: object
    S3Target.AccessKey:
      properties:
        id:
          description: The access key ID for accessing the S3 bucket.
          type: string
        secret:
          description: The secret access key for accessing the S3 bucket.
          type: string
      required:
      - id
      - secret
      type: object
    Status:
      example:
        code: 6
        details:
        - '@type': '@type'
        - '@type': '@type'
        message: message
      properties:
        code:
          format: int32
          type: integer
        message:
          type: string
        details:
          items:
            $ref: '#/components/schemas/Any'
          type: array
      type: object
x-original-swagger-version: "2.0"
